Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

[IMP] crm: better use toggle_active and add business behavior in it
  addons/crm/models/crm_lead.py
  addons/crm/wizard/crm_lead_to_opportunity.py
Owners: none

[IMP] mail, mass_mailing, phone, survey: call toggle_active / action_(un)archive when possible
  addons/mail/models/mail_blacklist.py
  addons/mass_mailing/models/mailing_list.py
  addons/phone_validation/models/phone_blacklist.py
  addons/survey/models/survey_survey.py
Owners: @odoo/rd-discuss

[FIX] crm: do not erase activity_type_id field value when converting
  addons/crm/wizard/crm_lead_to_opportunity.py
Owners: none

[IMP] website_slides: implement archive cascade behavior in toggle_active
  addons/website_slides/models/slide_channel.py
  addons/website_slides/models/slide_slide.py
Owners: none

[REF] sales_team: move member model
  addons/sales_team/models/__init__.py
  addons/sales_team/models/crm_team_member.py
Owners: none

[IMP] lunch: multi-company improvement
  addons/lunch/data/lunch_data.xml
  addons/lunch/data/lunch_demo.xml
  addons/lunch/models/lunch_product.py
  addons/lunch/report/lunch_product_report.py
  addons/lunch/security/lunch_security.xml
  addons/lunch/views/lunch_product_views.xml
Owners: none

[IMP] lunch: Improve the lunch category and multi-company
  addons/lunch/models/lunch_order.py
  addons/lunch/models/lunch_product.py
  addons/lunch/views/lunch_product_views.xml
Owners: none

[IMP] improve the code
  addons/lunch/data/lunch_data.xml
  addons/lunch/data/lunch_demo.xml
  addons/lunch/models/lunch_product.py
Owners: none

[FIX] web: fixed x2m list column expanding glitch inside the group
  addons/web/static/src/scss/form_view.scss
Owners: none

[IMP] snailmail: confirm sending first letter
  addons/snailmail/__manifest__.py
  addons/snailmail/wizard/__init__.py
  addons/snailmail/wizard/snailmail_confirm.py
  addons/snailmail/wizard/snailmail_confirm_views.xml
  addons/snailmail_account/__manifest__.py
  addons/snailmail_account/security/ir.model.access.csv
  addons/snailmail_account/wizard/__init__.py
  addons/snailmail_account/wizard/account_invoice_send.py
  addons/snailmail_account/wizard/snailmail_confirm_invoice_send.py
Owners: @odoo/rd-discuss

[IMP] website,website_sale: pinterest,what'sapp url change
  addons/website/static/src/snippets/s_share/000.js
  addons/website/views/snippets/s_share.xml
Owners: none

[IMP] website_slides: Allow to make a review with stars only
  addons/portal/controllers/mail.py
  addons/portal/static/src/js/portal_chatter.js
  addons/portal_rating/static/src/js/portal_chatter.js
  addons/portal_rating/static/src/xml/portal_chatter.xml
  addons/portal_rating/static/src/xml/portal_tools.xml
  addons/portal_rating/views/portal_templates.xml
  addons/sale_mrp/models/sale.py
  addons/website_slides/controllers/main.py
  addons/website_slides/models/slide_channel.py
  addons/website_slides/static/src/scss/rating_rating_views.scss
  addons/website_slides/views/rating_rating_views.xml
  addons/website_slides/views/slide_channel_views.xml
  addons/website_slides/views/website_slides_menu_views.xml
  addons/website_slides/views/website_slides_templates_course.xml
Owners: @odoo/rd-images

[REM] mail: remove mail alias from res.users
  addons/mail/models/res_users.py
  addons/mail/views/res_users_views.xml
  addons/mail_bot/views/res_users_views.xml
Owners: @odoo/rd-discuss

Fix generic click
  addons/web/static/src/js/chrome/web_client.js
Owners: none

[IMP] website_crm_livechat: review change
  addons/website_crm_livechat/models/mail_channel.py
Owners: none

[wip] mail: save image after rotate
  addons/mail/static/src/js/document_viewer.js
  odoo/addons/base/models/ir_attachment.py
Owners: @odoo/rd-discuss, @odoo/rd-images

[REF] mail: clean usage of mail alias
  addons/account/models/account.py
  addons/crm/models/crm_team.py
  addons/hr_recruitment/models/hr_job.py
  addons/mail/models/mail_alias.py
  addons/mail/models/mail_channel.py
  addons/mail/security/ir.model.access.csv
  addons/maintenance/models/maintenance.py
  addons/project/models/project.py
  addons/project/security/ir.model.access.csv
  addons/test_mail/models/test_mail_models.py
  doc/reference/mixins.rst
Owners: @odoo/rd-discuss

[IMP] mail: keep changes of form while schedule the activity
  addons/mail/static/src/js/activity.js
Owners: @odoo/rd-discuss

[IMP] l10n_dz: improve CoA
  addons/l10n_dz/data/account.account.template.csv
Owners: none

[ADD] adyen_marketpay,pos_adyen: Add support for Adyen Marketpay
  addons/adyen_marketpay/__init__.py
  addons/adyen_marketpay/__manifest__.py
  addons/adyen_marketpay/controllers/__init__.py
  addons/adyen_marketpay/controllers/adyen_marketpay.py
  addons/adyen_marketpay/data/adyen_marketpay_data.xml
  addons/adyen_marketpay/models/__init__.py
  addons/adyen_marketpay/models/adyen_marketpay.py
  addons/adyen_marketpay/models/res_company.py
  addons/adyen_marketpay/security/ir.model.access.csv
  addons/adyen_marketpay/static/src/js/adyen_marketpay_fields.js
  addons/adyen_marketpay/static/src/js/adyen_marketpay_transactions.js
  addons/adyen_marketpay/static/src/xml/adyen_marketpay_fields.xml
  addons/adyen_marketpay/static/src/xml/adyen_marketpay_transactions_views.xml
  addons/adyen_marketpay/util.py
  addons/adyen_marketpay/views/adyen_marketpay_templates.xml
  addons/adyen_marketpay/views/adyen_marketpay_views.xml
  addons/adyen_marketpay/views/assets.xml
  addons/pos_adyen/__manifest__.py
  addons/pos_adyen/data/pos_adyen_data.xml
  addons/pos_adyen/models/__init__.py
  addons/pos_adyen/models/adyen_marketpay.py
  addons/pos_adyen/models/pos_payment_method.py
  addons/pos_adyen/models/res_config_settings.py
  addons/pos_adyen/security/ir.model.access.csv
  addons/pos_adyen/static/src/js/models.js
  addons/pos_adyen/static/src/js/payment_adyen.js
  addons/pos_adyen/views/adyen_marketpay_views.xml
  addons/pos_adyen/views/pos_payment_method_views.xml
  addons/pos_adyen/views/res_config_settings_views.xml
Owners: none

[FIX] survey: fix conditional questions navigation on survey
  addons/survey/controllers/main.py
  addons/survey/models/survey_survey.py
Owners: none

[REF] mail: removes signature from route params
  addons/mail/static/src/xml/thread.xml
  addons/mail/static/tests/chatter_tests.js
  addons/mail/static/tests/document_viewer_tests.js
Owners: @odoo/rd-discuss

[IMP] Improvement
  addons/web/static/src/js/views/graph/graph_renderer.js
Owners: none

Remove _get_codes
  odoo/tools/safe_eval.py
Owners: @odoo/rd-images, @odoo/rd-security

In progress add statinfo mailing list
  addons/mass_mailing/models/mailing_list.py
  addons/mass_mailing/views/mailing_list_views.xml
  addons/mass_mailing/wizard/mailing_list_merge_views.xml
Owners: none

[IMP] web: force a master password on insecure dbs
  addons/web/controllers/main.py
  addons/web/views/database_manager.html
Owners: @odoo/rd-images, @odoo/rd-security

Update safe_eval.py
  odoo/tools/safe_eval.py
Owners: @odoo/rd-images, @odoo/rd-security

[REF] fields, models: compute fields before database insertion.
  odoo/fields.py
  odoo/models.py
  odoo/modules/registry.py
Owners: none

[IMP][TESTS] test_new_api: pre/post computes fields tests
  odoo/addons/test_new_api/models/test_new_api.py
  odoo/addons/test_new_api/security/ir.model.access.csv
  odoo/addons/test_new_api/tests/test_new_fields.py
Owners: none

[IMP][TESTS] test_new_api: test real-new interactions
  odoo/addons/test_new_api/models/test_new_api.py
  odoo/addons/test_new_api/tests/test_one2many.py
Owners: none

[IMP] base: allow test_new_api to be run post_install.
  odoo/addons/test_new_api/tests/test_new_fields.py
Owners: none

[FIX] base: do not trigger writes when no true changes happened.
  odoo/addons/test_new_api/tests/test_new_fields.py
  odoo/fields.py
Owners: none

[IMP] base: x2m precompute tests.
  odoo/addons/test_new_api/models/test_new_api.py
  odoo/addons/test_new_api/security/ir.model.access.csv
  odoo/addons/test_new_api/tests/test_new_fields.py
Owners: none

WebClient Test Common
  addons/web/static/tests/chrome/web_client_tests_common.js
  addons/web/views/webclient_templates.xml
Owners: none

[IMP] event: Improve Kanban View of Attendees
  addons/event/models/event_registration.py
  addons/event/static/src/scss/event.scss
  addons/event/views/event_views.xml
  addons/event_sale/models/event_registration.py
  addons/event_sale/views/event_registration_views.xml
  addons/event_sale/views/sale_order_views.xml
Owners: none

[IMP] crm: remove default PLS fields
  addons/crm/data/crm_lead_prediction_data.xml
  addons/crm/models/crm_lead.py
Owners: none

Helper function create dynamic webclient
  addons/web/static/tests/chrome/web_client_tests_common.js
  addons/web/static/tests/helpers/test_utils_create.js
Owners: none

In progress sms
  addons/mass_mailing/data/mass_mailing_demo.xml
  addons/mass_mailing/models/mailing_contact.py
  addons/mass_mailing/views/mailing_list_views.xml
  addons/mass_mailing_sms/models/mailing_list.py
  addons/mass_mailing_sms/views/mailing_list_views.xml
Owners: none

[FIX] product: on CoA choose do not create pricelist if already present
  addons/product/models/res_company.py
Owners: none

Order thread notificatiosn by "new message/no new message" and then date
  addons/mail/static/src/owl/components/notification_list/notification_list.js
  addons/mail/static/tests/owl/component/notification_list_tests.js
  addons/mail/views/mail_templates.xml
Owners: @odoo/rd-discuss

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security
