Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security

[IMP] l10n*: make use of country_code field
  addons/l10n_ar/views/account_move_view.xml
  addons/l10n_cn/views/account_move_view.xml
  addons/l10n_latam_invoice_document/models/account_move.py
  addons/l10n_latam_invoice_document/views/account_move_view.xml
Owners: none

[FIX] tests: revert registry cleanup 8dab6caf468bde2cab03b89c6c48dd8a9ff1cf52
  odoo/tests/common.py
Owners: none

[FIX] hr_holidays: populate res_model on calendar.event
  addons/hr_holidays/models/hr_leave.py
Owners: none

[IMP] hr_holidays: "Everyone" view on calendar_event
  addons/hr_holidays/__manifest__.py
  addons/hr_holidays/models/hr_employee.py
  addons/hr_holidays/models/hr_leave.py
  addons/hr_holidays/report/__init__.py
  addons/hr_holidays/report/hr_leave_report_calendar.py
  addons/hr_holidays/report/hr_leave_report_calendar.xml
  addons/hr_holidays/security/hr_holidays_security.xml
  addons/hr_holidays/security/ir.model.access.csv
  addons/hr_holidays/tests/test_access_rights.py
  addons/hr_holidays/views/hr_holidays_views.xml
  addons/hr_holidays/views/hr_leave_allocation_views.xml
  addons/hr_holidays/views/hr_leave_views.xml
Owners: none

[IMP] website_forum: few improvements regarding forum question page
  addons/website_forum/controllers/main.py
  addons/website_forum/static/src/js/tours/website_forum.js
  addons/website_forum/static/src/js/website_forum.js
  addons/website_forum/views/website_forum.xml
Owners: none

Some misc imps
  addons/web/static/src/js/chrome/web_client.js
Owners: none

[IMP] web: allow to add buttons to pivot controller
  addons/web/static/src/js/views/pivot/pivot_controller.js
Owners: none

[IMP] web: expose pivot variables
  addons/web/static/src/js/views/pivot/pivot_model.js
Owners: none

[IMP] web: add spreadsheet mimetype and icon
  addons/web/static/src/img/mimetypes/o-spreadsheet.svg
  addons/web/static/src/scss/mimetypes.scss
Owners: none

[IMP] purchase: revamp of purchase order view inside portal.
  addons/purchase/controllers/portal.py
  addons/purchase/models/purchase.py
  addons/purchase/views/portal_templates.xml
Owners: none

[IMP] account: invoice view improvement inside portal.
  addons/account/controllers/portal.py
Owners: none

[IMP] project: improve responsiveness of description.
  addons/portal/static/src/scss/portal.scss
  addons/portal/views/portal_templates.xml
  addons/project/views/project_portal_templates.xml
Owners: @odoo/rd-images

Comment faulty code
  addons/mail/static/src/owl/components/composer_text_input/composer_text_input.js
Owners: @odoo/rd-discuss

Internal widget is detach from the public widget before calling destroy()
  addons/website_event/static/src/js/website_event.js
Owners: none

Does not call start and willStart for nothing
  addons/website_event/static/src/js/website_event.js
Owners: none

[FIX] Test where rating were 1-10 instead of 1-5
  addons/im_livechat/static/src/js/im_livechat.js
  addons/website_livechat/static/tests/tours/website_livechat_common.js
  addons/website_livechat/tests/common.py
  addons/website_livechat/tests/test_livechat_request.py
Owners: @odoo/rd-discuss

[FIX] website_forum: force image size in css to handle gifs
  addons/website_forum/static/src/scss/website_forum.scss
Owners: none

[IMP] base,web,document : sort the filter items in searchpanel.
  addons/web/models/models.py
  addons/web/static/src/js/views/search_panel.js
  odoo/addons/base/models/ir_module.py
  odoo/addons/base/rng/common.rng
Owners: none

In progress
  addons/mass_mailing/data/mass_mailing_demo.xml
  addons/mass_mailing/models/mailing_list.py
  addons/mass_mailing/views/mailing_list_views.xml
Owners: none

[IMP] calendar: Minor visual tweak to improve user experience
  addons/calendar/models/calendar.py
  addons/calendar/static/src/js/calendar_view.js
  addons/calendar/static/src/scss/calendar.scss
  addons/calendar/static/src/xml/base_calendar.xml
  addons/calendar/views/calendar_views.xml
Owners: none

added extra img upload li
  addons/website_sale/static/src/scss/website_sale.scss
  addons/website_sale/views/templates.xml
Owners: none

update carousel indicators
  addons/website_sale/static/src/js/website_sale_product_variant_image.js
  addons/website_sale/static/src/scss/website_sale.scss
  addons/website_sale/static/src/xml/website_sale.xml
  addons/website_sale/views/templates.xml
Owners: none

open media dialog
  addons/website_sale/static/src/js/website_sale.editor.js
  addons/website_sale/static/src/js/website_sale_product_variant_image.js
  addons/website_sale/static/src/scss/website_sale.scss
  addons/website_sale/views/templates.xml
Owners: none

update code
  addons/website_sale/static/src/js/website_sale.editor.js
  addons/website_sale/static/src/js/website_sale_product_variant_image.js
  addons/website_sale/static/src/xml/website_sale.xml
Owners: none

update code
  addons/website_sale/static/src/js/website_sale.editor.js
  addons/website_sale/static/src/js/website_sale_product_variant_image.js
  addons/website_sale/static/src/xml/website_sale.xml
Owners: none

update code
  addons/website_sale/static/src/xml/website_sale.xml
Owners: none

save image
  addons/website_sale/static/src/js/website_sale_product_variant_image.js
Owners: none

update code
  addons/website_sale/static/src/js/website_sale_product_variant_image.js
  addons/website_sale/static/src/scss/website_sale.scss
  addons/website_sale/static/src/xml/website_sale.xml
  addons/website_sale/views/templates.xml
Owners: none

[review]
  addons/crm_livechat/models/mail_channel.py
  addons/website_crm_livechat/models/mail_channel.py
Owners: none

[IMP] website, web_editor: enable the parallax option for all snippets
  addons/web_editor/static/src/js/editor/snippets.options.js
  addons/website/static/src/js/content/snippets.animation.js
  addons/website/static/src/js/editor/snippets.options.js
  addons/website/views/snippets/snippets.xml
Owners: none

remove print
  addons/crm_livechat/models/mail_channel.py
Owners: none

[FIX] mail: fetches the attachments checksum for cache control.
  addons/mail/models/mail_message.py
Owners: @odoo/rd-discuss

[IMP] l10n_ro: improved Romanian localization
  addons/l10n_ro/__manifest__.py
  addons/l10n_ro/data/account.account.template.csv
  addons/l10n_ro/data/account.group.template.csv
  addons/l10n_ro/data/account_data.xml
  addons/l10n_ro/data/account_fiscal_position_data.xml
  addons/l10n_ro/data/account_reconcile_model_template_data.xml
  addons/l10n_ro/data/account_tax_data.xml
  addons/l10n_ro/data/account_tax_report_data.xml
  addons/l10n_ro/data/l10n_ro_chart_post_data.xml
  doc/cla/individual/feketemihai.md
Owners: none

Click on anchor
  addons/web/static/src/js/chrome/web_client.js
  addons/web/static/tests/chrome/web_client_tests.js
Owners: none

[IMP] utm: Add kanban examples for UTM campaigns
  addons/project/static/src/js/project_task_kanban_examples.js
  addons/utm/data/utm_data.xml
  addons/utm/data/utm_demo.xml
  addons/utm/static/src/js/utm_campaign_kanban_examples.js
  addons/utm/views/assets.xml
  addons/utm/views/utm_campaign_views.xml
  addons/utm/views/utm_views.xml
  addons/web/static/src/js/views/kanban/kanban_column_quick_create.js
  addons/web/static/src/js/views/kanban/kanban_renderer.js
Owners: none

[IMP] website_sale: make "Image full" a global option
  addons/website_sale/data/data.xml
  addons/website_sale/data/demo.xml
  addons/website_sale/views/templates.xml
Owners: none

[IMP] mrp: allow mass production for SN products
  addons/mrp/models/mrp_abstract_workorder.py
  addons/mrp/models/mrp_workorder.py
  addons/mrp/tests/test_order.py
  addons/mrp/wizard/mrp_product_produce.py
  addons/mrp/wizard/mrp_product_produce_views.xml
Owners: none

fixup: remove iteration methods (not thread-safe)
  odoo/tools/lru.py
Owners: @odoo/rd-images, @odoo/rd-security

review
  addons/website_crm_livechat/models/mail_channel.py
Owners: none

[REF] base: replace toggle method by already-existing toggle_active for ir.ui.view
  addons/website/controllers/main.py
  odoo/addons/base/models/ir_ui_view.py
  odoo/addons/base/tests/test_views.py
Owners: none
