Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

[FIX] product: barcodes can be url encoded
  addons/product/report/product_product_templates.xml
Owners: none

[IMP] base: do not reset context through call_kw calls.
  odoo/api.py
Owners: none

[IMP] base: ensure the basic user_context is always present.
  odoo/http.py
Owners: @odoo/rd-security

[IMP] web: always give context to _rpc calls.
  addons/web/static/src/js/core/rpc.js
  addons/web/static/src/js/core/session.js
  addons/web/static/tests/chrome/action_manager_tests.js
  addons/web/static/tests/core/rpc_tests.js
  addons/web/static/tests/views/list_tests.js
Owners: none

[IMP] web: call_button route calls.
  addons/web/static/src/js/_deprecated/data.js
  addons/web/static/src/js/chrome/action_manager_act_window.js
  addons/web/static/src/js/views/basic/basic_controller.js
Owners: none

[IMP] web, base, *: clear multi-company API.
  addons/hr_attendance/static/src/js/kiosk_mode.js
  addons/hr_attendance/static/tests/hr_attendance_tests.js
  addons/web/models/ir_http.py
  addons/web/static/src/js/chrome/abstract_web_client.js
  addons/web/static/src/js/core/session.js
  addons/web/static/src/js/views/basic/basic_model.js
  addons/web/static/src/js/widgets/switch_company_menu.js
  addons/web/static/tests/views/basic_model_tests.js
  addons/web/static/tests/widgets/company_switcher_tests.js
Owners: none

can be removed is async in action adapter
  addons/web/static/src/js/action_manager/action_adapter.js
Owners: none

m
  doc/reference/module.rst
  odoo/addons/base/rng/common.rng
Owners: none

[IMP] web: add the WidgetAdapterMixin to the FormRenderer
  addons/web/static/src/js/views/form/form_renderer.js
Owners: none

[IMP] web: add a <Popover> component
  addons/web/static/src/js/core/owl_popover.js
  addons/web/static/src/scss/popover.scss
  addons/web/static/src/xml/base.xml
  addons/web/views/webclient_templates.xml
Owners: none

[IMP] base: allow studio_validation attribute on buttons
  odoo/addons/base/rng/common.rng
Owners: none

[IMP] web: record counts for fields select="one"
  addons/web/models/models.py
  addons/web/static/src/js/views/search_panel.js
  addons/web/static/src/scss/search_panel.scss
  addons/web/static/src/xml/kanban.xml
  addons/web/static/tests/helpers/mock_server.js
  addons/web/static/tests/views/search_panel_tests.js
  odoo/addons/base/models/ir_module.py
  odoo/addons/base/rng/common.rng
  odoo/addons/test_search_panel/__init__.py
  odoo/addons/test_search_panel/__manifest__.py
  odoo/addons/test_search_panel/ir.model.access.csv
  odoo/addons/test_search_panel/models.py
  odoo/addons/test_search_panel/tests/__init__.py
  odoo/addons/test_search_panel/tests/test_search_panel_select_multi_range.py
  odoo/addons/test_search_panel/tests/test_search_panel_select_range.py
Owners: none

wip
  addons/portal/static/src/scss/portal.scss
Owners: @odoo/rd-images

[FIX] website: Background Color is kept after changing it from editor.
  addons/website/models/website_page.py
  addons/website/static/src/js/editor/snippets.options.js
  addons/website/static/src/js/menu/content.js
  addons/website/views/snippets/snippets.xml
  addons/website/views/website_templates.xml
Owners: none

[IMP] mail: remove active class from canned response
  addons/mail/static/src/js/composers/mention_manager.js
Owners: @odoo/rd-discuss

[IMP] Improvements
  addons/web/static/src/js/views/graph/graph_renderer.js
  addons/web/static/tests/views/graph_tests.js
Owners: none

[IMP] review
  addons/mail/static/src/js/composers/mention_manager.js
Owners: @odoo/rd-discuss

[IMP] website_sale: thumbnail of video as default image
  addons/website_sale/models/product_image.py
  addons/website_sale/static/src/scss/website_sale_backend.scss
Owners: none

[IMP] hr_timesheet_attendance: allow to display Days in timesheets
  addons/hr_timesheet_attendance/report/hr_timesheet_attendance_report_view.xml
Owners: none

[Imp] hr_timesheet: hide the "Timesheet Timer" feature in the project form if encoding unit is not Hours
  addons/hr_timesheet/models/project.py
  addons/hr_timesheet/models/res_config_settings.py
  addons/hr_timesheet/views/project_views.xml
Owners: none

[Imp] hr_timesheet: hide the "Round timesheets" feature in the settings of Timesheets if encoding unit is Days
  addons/hr_timesheet/models/res_config_settings.py
  addons/hr_timesheet/views/res_config_settings_views.xml
Owners: none

[IMP] hr_timesheet: correctly display timesheets in Days if configured to
  addons/hr_timesheet/controllers/portal.py
  addons/hr_timesheet/controllers/project.py
  addons/hr_timesheet/models/hr_timesheet.py
  addons/hr_timesheet/models/project.py
  addons/hr_timesheet/report/report_timesheet_templates.xml
  addons/hr_timesheet/views/hr_timesheet_portal_templates.xml
  addons/hr_timesheet/views/project_portal_templates.xml
  addons/hr_timesheet/views/project_views.xml
Owners: none

[IMP] sale_timesheet: clean display of Days for timesheets
  addons/sale_timesheet/controllers/portal.py
  addons/sale_timesheet/models/project_overview.py
  addons/sale_timesheet/views/hr_timesheet_templates.xml
Owners: none

[FIX] web: display 0 for FieldFloatToggle
  addons/web/static/src/js/fields/basic_fields.js
Owners: none

[IMP] hr_timesheet: clean display of Days for timesheets
  addons/hr_timesheet/controllers/portal.py
  addons/hr_timesheet/controllers/project.py
  addons/hr_timesheet/models/hr_timesheet.py
  addons/hr_timesheet/models/project.py
  addons/hr_timesheet/static/src/js/timesheet_uom.js
  addons/hr_timesheet/views/hr_timesheet_portal_templates.xml
  addons/hr_timesheet/views/project_portal_templates.xml
  addons/hr_timesheet/views/project_views.xml
Owners: none

[IMP] hr_timesheet: display clean duration in Timesheet Entries
  addons/hr_timesheet/models/hr_timesheet.py
  addons/hr_timesheet/report/report_timesheet_templates.xml
Owners: none

[IMP] sale_timesheet: update some labels in Project Overview
  addons/sale_timesheet/controllers/portal.py
  addons/sale_timesheet/views/hr_timesheet_templates.xml
Owners: none

Update safe_eval.py
  odoo/tools/safe_eval.py
Owners: @odoo/rd-images, @odoo/rd-security

[IMP] website_sale: let users create and edit custom product ribbons
  addons/website/static/src/scss/website.scss
  addons/website_event_track/static/src/css/website_event_track.css
  addons/website_event_track/views/event_track_templates.xml
  addons/website_sale/controllers/main.py
  addons/website_sale/data/data.xml
  addons/website_sale/models/product.py
  addons/website_sale/security/ir.model.access.csv
  addons/website_sale/static/src/js/website_sale.editor.js
  addons/website_sale/static/src/scss/website_sale.scss
  addons/website_sale/views/product_views.xml
  addons/website_sale/views/snippets.xml
  addons/website_sale/views/templates.xml
Owners: none

[FIX] web, web_tour: mobile quick search view issues
  addons/web/static/src/scss/control_panel.scss
  addons/web/static/src/scss/search_view.scss
  addons/web_tour/static/src/js/tour_step_utils.js
Owners: none

[IMP] sale_timesheet: fix style in Project Overview
  addons/sale_timesheet/static/src/scss/sale_timesheet.scss
  addons/sale_timesheet/views/hr_timesheet_templates.xml
Owners: none

[FIX] survey: correctly handle "free text sections" in survey sessions
  addons/survey/controllers/main.py
  addons/survey/controllers/survey_session_manage.py
  addons/survey/models/survey_survey.py
  addons/survey/static/src/js/survey_form.js
  addons/survey/views/survey_templates.xml
  addons/survey/views/survey_templates_user_input_session.xml
Owners: none

[FIX] survey: fix conditional questions navigation on survey
  addons/survey/controllers/main.py
Owners: none

[FIX] survey: exclude pages that have no description in 'page_per_question' layout
  addons/survey/models/survey_survey.py
Owners: none

[FIX] survey: fix back button behavior
  addons/survey/models/survey_survey.py
  addons/survey/views/survey_templates.xml
Owners: none

[IMP] survey: improve session "short link" management
  addons/survey/controllers/main.py
  addons/survey/controllers/survey_session_manage.py
  addons/survey/models/survey_survey.py
  addons/survey/static/src/js/survey_quick_access.js
  addons/survey/views/survey_survey_views.xml
  addons/survey/views/survey_templates.xml
  addons/survey/views/survey_templates_management.xml
  addons/survey/views/survey_templates_user_input_session.xml
Owners: none

[IMP] survey: improve sessions fade in/out delays
  addons/survey/controllers/survey_session_manage.py
  addons/survey/models/survey_survey.py
  addons/survey/static/src/js/survey_form.js
  addons/survey/static/src/js/survey_session_manage.js
Owners: none

[IMP] survey: show matrix choices on session host view
  addons/survey/static/src/scss/survey_form.scss
  addons/survey/views/survey_templates.xml
  addons/survey/views/survey_templates_user_input_session.xml
Owners: none

[IMP] survey: add python tests/tours to test the survey sessions
  addons/survey/models/survey_survey.py
  addons/survey/static/src/js/survey_session_manage.js
  addons/survey/static/tests/tours/survey_session_manage_test.js
  addons/survey/static/tests/tours/survey_tour_session_create.js
  addons/survey/static/tests/tours/survey_tour_session_manage.js
  addons/survey/static/tests/tours/survey_tour_session_start.js
  addons/survey/static/tests/tours/survey_tour_session_tools.js
  addons/survey/tests/__init__.py
  addons/survey/tests/test_survey_ui_session.py
  addons/survey/views/assets.xml
Owners: none

[IMP] survey: small survey form design changes
  addons/survey/controllers/main.py
  addons/survey/data/survey_demo_certification.xml
  addons/survey/static/src/js/survey_form.js
  addons/survey/static/src/scss/survey_form.scss
  addons/survey/views/survey_survey_views.xml
  addons/survey/views/survey_templates.xml
  addons/survey/views/survey_templates_management.xml
  addons/survey/views/survey_templates_print.xml
  addons/survey/views/survey_templates_statistics.xml
Owners: none

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security
