Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security

[IMP] event: comment unused action(s)
  addons/event/views/event_views.xml
Owners: none

[IMP] account(_*): comment unused action(s)
  addons/account/views/account_fiscal_year_view.xml
  addons/account/views/account_move_views.xml
  addons/account/views/account_view.xml
  addons/account/wizard/account_report_common_view.xml
  addons/account_analytic_default/views/account_analytic_default_view.xml
Owners: none

[IMP] event: merge the SMS template and the mail template into one field
  addons/event/__manifest__.py
  addons/event/data/event_demo.xml
  addons/event/models/__init__.py
  addons/event/models/event_event.py
  addons/event/models/event_mail.py
  addons/event/models/event_registration.py
  addons/event/models/mail_template.py
  addons/event/tests/common.py
  addons/event/tests/test_event_internals.py
  addons/event/tests/test_event_mail_schedule.py
  addons/event/tests/test_event_security.py
  addons/event/views/event_views.xml
  addons/event_sms/__manifest__.py
  addons/event_sms/models/__init__.py
  addons/event_sms/models/event_mail.py
  addons/event_sms/models/sms_template.py
  addons/event_sms/tests/test_sms_schedule.py
  addons/event_sms/views/event_mail_views.xml
  addons/event_sms/views/event_views.xml
Owners: none

[IMP] hr(_*): comment unused action(s)
  addons/hr/views/hr_employee_views.xml
  addons/hr/wizard/hr_departure_wizard_views.xml
  addons/hr_expense/views/hr_expense_views.xml
  addons/hr_recruitment/views/hr_job_views.xml
  addons/hr_recruitment/views/hr_recruitment_views.xml
  addons/hr_recruitment/wizard/applicant_refuse_reason_views.xml
  addons/hr_work_entry/views/hr_work_entry_views.xml
Owners: none

[IMP] gamification: comment unused action(s)
  addons/gamification/data/goal_base.xml
Owners: none

[IMP] website(_*): comment unused action(s)
  addons/website/views/website_visitor_views.xml
  addons/website_sale/views/account_views.xml
  addons/website_slides/views/slide_channel_partner_views.xml
  addons/website_slides/views/slide_channel_tag_views.xml
  addons/website_slides_survey/views/slide_slide_views.xml
Owners: none

[IMP] sale(_*): comment unused action(s)
  addons/sale/views/sale_views.xml
  addons/sale_coupon/views/sale_order_views.xml
  addons/sale_timesheet/views/hr_timesheet_views.xml
Owners: none

[IMP] project: comment unused action(s)
  addons/project/views/project_views.xml
Owners: none

[IMP] mrp: comment unused action(s)
  addons/mrp/views/mrp_workorder_views.xml
Owners: none

[IMP] point_of_sale: comment unused action(s)
  addons/point_of_sale/views/pos_order_view.xml
  addons/point_of_sale/views/product_view.xml
Owners: none

[REM] hr(_*): comment unused view(s)
  addons/hr/views/hr_employee_views.xml
  addons/hr_recruitment/views/hr_recruitment_views.xml
Owners: none

[REM] stock: comment unused view(s)
  addons/stock/views/stock_move_views.xml
  addons/stock/views/stock_picking_views.xml
Owners: none

[IMP] base_import: merge web_studio and base_import views.
  addons/base_import_module/models/base_import_module.py
  addons/base_import_module/views/base_import_module_view.xml
Owners: none

[REM] sale_coupon: comment unused view(s)
  addons/sale_coupon/views/sale_coupon_program_views.xml
Owners: none

[TOOL] detect potentially unused views
  odoo/addons/base/models/ir_ui_view.py
  odoo/addons/base/views/ir_ui_view_views.xml
Owners: none

[REM] point_of_sale: comment unused view(s)
  addons/point_of_sale/views/account_statement_view.xml
  addons/point_of_sale/views/pos_order_view.xml
Owners: none

[REM] project: comment unused view(s)
  addons/project/views/project_views.xml
Owners: none

[IMP] hr: merge unused views
  addons/hr/views/res_users.xml
Owners: none

[IMP] stock, mrp, purchase_stock: forecast popover usability
  addons/mrp/models/stock_rule.py
  addons/purchase_stock/models/stock_rule.py
  addons/stock/models/stock_orderpoint.py
  addons/stock/static/src/xml/stock_orderpoint.xml
Owners: none

[IMP] mass_mailing: display info icon and sent/clicked KPIs display revision
  addons/mass_mailing/models/mailing.py
  addons/mass_mailing/static/src/js/radio_info_widget.js
  addons/mass_mailing/views/assets.xml
  addons/mass_mailing/views/mailing_mailing_views.xml
  addons/mass_mailing_crm/views/mailing_mailing_views.xml
  addons/mass_mailing_sale/views/mailing_mailing_views.xml
  addons/mass_mailing_sms/views/mailing_mailing_views.xml
Owners: none

[FIX] mrp: stock.move with reference new
  addons/mrp/models/mrp_production.py
Owners: none

[IMP] web: add custom event to re-render calendar event items
  addons/web/static/src/js/views/calendar/calendar_renderer.js
Owners: none

[IMP] web: add custom template
  addons/web/static/src/js/views/calendar/calendar_renderer.js
Owners: none

[IMP] website: dissociate the name of the website
  addons/website/views/website_templates.xml
Owners: none

[IMP] website: remove header cloning in standard visibility and ...
  addons/website/static/src/js/content/menu.js
  addons/website/static/src/scss/website.scss
  addons/website/views/website_templates.xml
Owners: none

[IMP] website: fix some bugs/changes after fonctionnal reviews
  addons/portal/views/portal_templates.xml
  addons/website/static/src/scss/website.scss
  addons/website/views/snippets/snippets.xml
  addons/website/views/website_templates.xml
Owners: @odoo/rd-images

[IMP] website: add templates for header in default theme
  addons/website/models/theme_models.py
  addons/website/static/src/scss/primary_variables.scss
  addons/website/static/src/scss/website.scss
  addons/website/views/snippets/snippets.xml
  addons/website/views/website_templates.xml
Owners: none

[IMP] website: add header visibility options
  addons/website/static/src/js/content/menu.js
  addons/website/views/snippets/snippets.xml
  addons/website/views/website_templates.xml
Owners: none

[IMP] website: adapt size/hide header logo when scrolling
  addons/portal/static/src/scss/portal.scss
  addons/website/static/src/js/content/menu.js
  addons/website/static/src/scss/secondary_variables.scss
  addons/website/static/src/scss/website.scss
  addons/website/views/snippets/snippets.xml
Owners: @odoo/rd-images

[IMP] website: add templates for footer
  addons/website/controllers/main.py
  addons/website/models/theme_models.py
  addons/website/static/src/scss/primary_variables.scss
  addons/website/static/src/scss/website.scss
  addons/website/views/snippets/snippets.xml
  addons/website/views/website_templates.xml
Owners: none

[IMP] website: move the options in the left panel
  addons/website/static/src/js/content/menu.js
  addons/website/static/src/scss/website.scss
  addons/website/views/snippets/snippets.xml
  addons/website/views/website_templates.xml
Owners: none

[IMP] website: allow logo resizing in footer templates
  addons/website/static/src/scss/website.scss
  addons/website/views/website_templates.xml
Owners: none

[IMP] website: test_crawl dont follow external link
  addons/website/tests/test_crawl.py
  odoo/tests/common.py
Owners: none

[IMP] website: split the customize method into 3 different methods
  addons/theme_bootswatch/views/theme_bootswatch_templates.xml
  addons/web_editor/static/src/js/editor/snippets.options.js
  addons/website/static/src/js/editor/snippets.options.js
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] website: add an option hoverable dropdown on header
  addons/website/static/src/js/content/menu.js
  addons/website/views/snippets/snippets.xml
  addons/website/views/website_templates.xml
Owners: none

[IMP] website: review class name and templates options system
  addons/website/models/theme_models.py
  addons/website/static/src/scss/primary_variables.scss
  addons/website/static/src/scss/website.scss
  addons/website/views/website_templates.xml
Owners: none

[IMP] hr_timesheet: Move not yet invoiced timesheets when project changes
  addons/hr_timesheet/models/project.py
  addons/hr_timesheet/tests/test_timesheet.py
  addons/sale_timesheet/models/account.py
  addons/sale_timesheet/models/project.py
  addons/sale_timesheet/tests/test_sale_timesheet.py
  addons/sale_timesheet/views/project_task_views.xml
Owners: none

[IMP] website: remove right/left indicators in gallery in editor
  addons/website/static/src/snippets/s_image_gallery/000.js
Owners: none

Fix mentions position in chatter + init relevant partners suggestions
  addons/mail/static/src/owl/components/chatter/chatter.xml
  addons/mail/static/src/owl/components/composer/composer.js
  addons/mail/static/src/owl/components/composer/composer.xml
  addons/mail/static/src/owl/components/composer_text_input/composer_text_input.js
  addons/mail/static/src/owl/components/composer_text_input/composer_text_input.scss
  addons/mail/static/src/owl/components/composer_text_input/composer_text_input.xml
  addons/mail/static/src/owl/store/messaging_getters.js
Owners: @odoo/rd-discuss

[REF] Mention manager
  addons/mail/static/src/owl/components/composer/composer.js
  addons/mail/static/src/owl/components/composer_text_input/composer_text_input.js
  addons/mail/static/src/owl/components/composer_text_input/composer_text_input.scss
  addons/mail/static/src/owl/components/composer_text_input/composer_text_input.xml
  addons/mail/static/src/owl/store/messaging_actions.js
  addons/mail/static/tests/owl/component/composer_tests.js
Owners: @odoo/rd-discuss
