Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security

[ADD] test_quality
  odoo/addons/test_quality/__init__.py
  odoo/addons/test_quality/__manifest__.py
  odoo/addons/test_quality/models/__init__.py
  odoo/addons/test_quality/models/ir_model_access.py
  odoo/addons/test_quality/models/ir_module.py
  odoo/addons/test_quality/models/res_groups.py
  odoo/addons/test_quality/tests/__init__.py
  odoo/addons/test_quality/tests/test_security.py
Owners: none

[MOV] (sale,crm) -> sales_team: security rule.
  addons/crm/security/ir.model.access.csv
  addons/sale/security/ir.model.access.csv
  addons/sales_team/security/ir.model.access.csv
Owners: none

finetune test
  odoo/addons/test_quality/tests/test_security.py
Owners: none

[REM] sale, account: duplicated rules
  addons/account/security/account_security.xml
Owners: none

[IMP] project: project tags shouldn't be public
  addons/project/security/ir.model.access.csv
Owners: none

[FIX] sale: sale report records cannot be created
  addons/sale/security/ir.model.access.csv
Owners: none

Test V2
  odoo/addons/test_quality/models/ir_model_access.py
  odoo/addons/test_quality/tests/test_security.py
Owners: none

[REF] web: DataExport tests: lint file and factorize mockRPC
  addons/web/static/tests/widgets/data_export_tests.js
Owners: none

[FIX] point_of_sale: fixed tax price
  addons/point_of_sale/models/pos_session.py
Owners: none

[IMP] hr_timesheet: Improve filters from the 'My Timesheets' menu
  addons/hr_timesheet/views/hr_timesheet_views.xml
Owners: none

[IMP] core: searching through o2m
  odoo/addons/base/tests/test_expression.py
  odoo/osv/expression.py
Owners: @odoo/rd-security

[IMP] core: refactor API of pre/post-commit/rollback hooks
  addons/bus/models/bus.py
  addons/mail/models/mail_thread.py
  addons/test_mail/tests/common.py
  addons/website/__init__.py
  odoo/http.py
  odoo/sql_db.py
  odoo/tests/common.py
Owners: @odoo/rd-discuss, @odoo/rd-security

, at end of afterEach
  addons/mail/static/src/messaging/component/activity/activity_tests.js
  addons/mail/static/src/messaging/component/attachment/attachment_tests.js
  addons/mail/static/src/messaging/component/attachment_box/attachment_box_tests.js
  addons/mail/static/src/messaging/component/chat_window_manager/chat_window_manager_tests.js
  addons/mail/static/src/messaging/component/chatter/chatter_tests.js
  addons/mail/static/src/messaging/component/chatter_topbar/chatter_topbar_tests.js
  addons/mail/static/src/messaging/component/composer/composer_tests.js
  addons/mail/static/src/messaging/component/file_uploader/file_uploader_tests.js
  addons/mail/static/src/messaging/component/message/message_tests.js
  addons/mail/static/src/messaging/component/partner_im_status_icon/partner_im_status_icon_tests.js
  addons/mail/static/src/messaging/component/thread_viewer/thread_viewer_tests.js
  addons/mail/static/src/messaging/component_hook/use_store/use_store_tests.js
  addons/mail/static/src/messaging/widget/form_renderer/form_renderer_tests.js
Owners: @odoo/rd-discuss

preps
  addons/mail/static/src/messaging/component/discuss/discuss_tests.js
  addons/mail/static/src/messaging/component/discuss_mobile_mailbox_selection/discuss_mobile_mailbox_selection.js
  addons/mail/static/src/messaging/component/discuss_sidebar/discuss_sidebar.js
  addons/mail/static/src/messaging/component/discuss_sidebar_item/discuss_sidebar_item.js
  addons/mail/static/src/messaging/component/drop_zone/drop_zone.js
  addons/mail/static/src/messaging/component/editable_text/editable_text.js
  addons/mail/static/src/messaging/component/emojis_popover/emojis_popover.js
  addons/mail/static/src/messaging/component/file_uploader/file_uploader.js
Owners: @odoo/rd-discuss

suffix component in tests
  addons/mail/static/src/messaging/component/attachment_box/attachment_box_tests.js
  addons/mail/static/src/messaging/component/chatter_topbar/chatter_topbar_tests.js
  addons/mail/static/src/messaging/component/message/message.js
  addons/mail/static/src/messaging/component/message/message_tests.js
  addons/mail/static/src/messaging/component/thread_viewer/thread_viewer_tests.js
Owners: @odoo/rd-discuss

`@returns`
  addons/im_livechat/static/src/messaging/component/discuss_sidebar/discuss_sidebar.js
  addons/mail/static/src/messaging/component/activity/activity.js
  addons/mail/static/src/messaging/component/attachment/attachment.js
  addons/mail/static/src/messaging/component/attachment_box/attachment_box.js
  addons/mail/static/src/messaging/component/attachment_viewer/attachment_viewer.js
  addons/mail/static/src/messaging/component/autocomplete_input/autocomplete_input.js
  addons/mail/static/src/messaging/component/chat_window/chat_window.js
  addons/mail/static/src/messaging/component/chat_window_hidden_menu/chat_window_hidden_menu.js
  addons/mail/static/src/messaging/component/chat_window_manager/chat_window_manager.js
  addons/mail/static/src/messaging/component/composer/composer.js
  addons/mail/static/src/messaging/component/composer_text_input/composer_text_input.js
  addons/mail/static/src/messaging/component/discuss/discuss.js
  addons/mail/static/src/messaging/component/discuss_sidebar/discuss_sidebar.js
  addons/mail/static/src/messaging/component/discuss_sidebar_item/discuss_sidebar_item.js
  addons/mail/static/src/messaging/component/drop_zone/drop_zone.js
  addons/mail/static/src/messaging/component/file_uploader/file_uploader.js
  addons/mail/static/src/messaging/component/message/message.js
  addons/mail/static/src/messaging/component/message_list/message_list.js
  addons/mail/static/src/messaging/component/messaging_menu/messaging_menu.js
  addons/mail/static/src/messaging/component/popover_button/popover_button.js
  addons/mail/static/src/messaging/component/thread_preview/thread_preview.js
  addons/mail/static/src/messaging/component/thread_viewer/thread_viewer.js
  addons/mail/static/src/messaging/component_hook/use_drag_visible_dropzone/use_drag_visible_dropzone.js
  addons/mail/static/src/messaging/component_hook/use_refs/use_refs.js
  addons/mail/static/src/messaging/service/chat_window_service/chat_window_service.js
  addons/mail/static/src/messaging/service/dialog_service/dialog_service.js
  addons/mail/static/src/messaging/service/messaging_service/messaging_service.js
  addons/mail/static/src/messaging/store/messaging_actions.js
  addons/mail/static/src/messaging/store/messaging_getters.js
  addons/mail/static/src/messaging/test_utils.js
  addons/mail/static/src/messaging/widget/discuss_invite_partner_dialog/discuss_invite_partner_dialog.js
  addons/mail/static/src/messaging/widget/form_renderer/form_renderer.js
Owners: @odoo/rd-discuss

[FIX] website: fix duplicating a snippet remove its id
  addons/website/static/src/js/editor/snippets.options.js
Owners: none

remove deadcode loadSummernote
  addons/mail/static/src/messaging/test_utils.js
Owners: @odoo/rd-discuss

m
  addons/point_of_sale/tests/test_pos_other_currency_config.py
  addons/point_of_sale/tests/test_pos_products_with_tax.py
Owners: none

fix typos discuss_tests (moderation)
  addons/mail/static/src/messaging/component/discuss/discuss_tests.js
Owners: @odoo/rd-discuss

[IMP] l10n_dz: improve CoA
  addons/l10n_dz/data/account.account.template.csv
Owners: none

fixup
  addons/project/security/ir.model.access.csv
Owners: none

[FIX] account: Fix messy write on account.move.line
  addons/account/models/account_move.py
Owners: none

[IMP] mass_mailing: Add calendar view
  addons/mass_mailing/models/mailing.py
  addons/mass_mailing/views/mailing_mailing_views.xml
Owners: none

[IMP] website_event_questions: add test tour for event questions
  addons/website_event_questions/__manifest__.py
  addons/website_event_questions/static/tests/tours/tickets_questions.js
  addons/website_event_questions/tests/__init__.py
  addons/website_event_questions/tests/test_event_ui.py
  addons/website_event_questions/views/assets.xml
Owners: none

[MOV] website_event_questions: split views to appropriate files
  addons/website_event_questions/__manifest__.py
  addons/website_event_questions/views/event_question_views.xml
  addons/website_event_questions/views/event_registration_views.xml
  addons/website_event_questions/views/event_views.xml
Owners: none

[IMP] website_event_questions: correctly show question answers on event form view
  addons/website_event_questions/views/event_views.xml
Owners: none

[IMP] website_event_questions: improve question_ids copying from event.type
  addons/website_event_questions/models/event_event.py
  addons/website_event_questions/models/event_question.py
  addons/website_event_questions/views/event_views.xml
Owners: none

[IMP] website_event_questions: allow analyzing attendees answers to event questions
  addons/website_event_questions/__manifest__.py
  addons/website_event_questions/models/event_question.py
  addons/website_event_questions/views/event_registration_answer_views.xml
  addons/website_event_questions/views/event_views.xml
Owners: none

[FIX] account: wrong journal for cash basis entry
  addons/account/models/account_move.py
Owners: none

[IMP] website, website_blog: perf - use new viewsref
  addons/website/models/website.py
  addons/website_blog/controllers/main.py
  addons/website_blog/views/website_blog_templates.xml
Owners: none

[REF] calendar: Refactor calendar attendees management
  addons/calendar/controllers/main.py
  addons/calendar/data/mail_data.xml
  addons/calendar/models/calendar_alarm_manager.py
  addons/calendar/models/calendar_attendee.py
  addons/calendar/models/calendar_event.py
  addons/calendar/models/calendar_recurrence.py
  addons/calendar/models/ir_http.py
  addons/calendar/tests/__init__.py
  addons/calendar/tests/test_attendees.py
  addons/calendar/tests/test_calendar.py
  addons/calendar/tests/test_event_notifications.py
  addons/calendar/tests/test_event_recurrence.py
Owners: none

[REF] calendar: Remove useless new env
  addons/calendar/controllers/main.py
  addons/calendar/models/ir_http.py
Owners: none

[REF] calendar: Materialize virtual recurring events
  addons/calendar/__init__.py
  addons/calendar/models/__init__.py
  addons/calendar/models/calendar_alarm_manager.py
  addons/calendar/models/calendar_event.py
  addons/calendar/models/calendar_recurrence.py
  addons/calendar/models/ir_attachment.py
  addons/calendar/models/ir_http.py
  addons/calendar/models/mail_message.py
  addons/calendar/models/res_partner.py
  addons/calendar/security/ir.model.access.csv
  addons/calendar/static/src/js/calendar_controller.js
  addons/calendar/static/src/js/calendar_model.js
  addons/calendar/static/src/js/calendar_view.js
  addons/calendar/static/src/xml/base_calendar.xml
  addons/calendar/tests/__init__.py
  addons/calendar/tests/test_calendar.py
  addons/calendar/tests/test_calendar_recurrent_event_case2.py
  addons/calendar/tests/test_event_recurrence.py
  addons/calendar/views/calendar_templates.xml
  addons/calendar/views/calendar_views.xml
  addons/calendar/wizard/__init__.py
  addons/calendar/wizard/mail_invite.py
  addons/calendar_sms/models/calendar.py
  addons/google_calendar/models/calendar.py
  addons/web/static/src/js/views/calendar/calendar_view.js
Owners: none

[REF] google_calendar: Refactor synchronisation
  addons/calendar/models/calendar_alarm.py
  addons/calendar/models/calendar_event.py
  addons/calendar/models/calendar_recurrence.py
  addons/google_account/controllers/main.py
  addons/google_account/models/google_service.py
  addons/google_calendar/controllers/main.py
  addons/google_calendar/data/google_calendar_data.xml
  addons/google_calendar/models/__init__.py
  addons/google_calendar/models/calendar.py
  addons/google_calendar/models/calendar_recurrence_rule.py
  addons/google_calendar/models/google_calendar.py
  addons/google_calendar/models/google_sync.py
  addons/google_calendar/models/res_config_settings.py
  addons/google_calendar/models/res_users.py
  addons/google_calendar/security/ir.model.access.csv
  addons/google_calendar/static/src/js/google_calendar.js
  addons/google_calendar/static/tests/google_calendar_tests.js
  addons/google_calendar/static/tests/mock_server.js
  addons/google_calendar/tests/__init__.py
  addons/google_calendar/tests/test_sync_google2odoo.py
  addons/google_calendar/tests/test_sync_odoo2google.py
  addons/google_calendar/utils/__init__.py
  addons/google_calendar/utils/google_calendar.py
  addons/google_calendar/utils/google_event.py
  addons/google_calendar/views/google_calendar_templates.xml
  addons/google_calendar/views/res_users_views.xml
Owners: none

[REM] calendar: Remove useless state field
  addons/calendar/data/calendar_demo.xml
  addons/calendar/models/calendar_event.py
  addons/calendar/views/calendar_views.xml
  addons/hr_holidays/models/hr_leave.py
Owners: none

[REM] calendar: Remove useless is_attendee field
  addons/calendar/models/calendar_event.py
  addons/calendar/views/calendar_views.xml
Owners: none

[REF] calendar, crm: Create events in batch
  addons/calendar/models/calendar_event.py
  addons/crm/models/calendar.py
Owners: none

[MOV] calendar: Split models in their own file
  addons/calendar/models/__init__.py
  addons/calendar/models/calendar_alarm.py
  addons/calendar/models/calendar_alarm_manager.py
  addons/calendar/models/calendar_attendee.py
  addons/calendar/models/calendar_contact.py
  addons/calendar/models/calendar_event.py
  addons/calendar/models/calendar_event_type.py
  addons/calendar/models/ir_attachment.py
  addons/calendar/models/mail_message.py
  addons/calendar/models/res_partner.py
  addons/calendar/tests/test_calendar_recurrent_event_case2.py
  addons/calendar/wizard/mail_invite.py
Owners: none

[REM] calendar: Remove useless time fields
  addons/calendar/models/calendar_event.py
  addons/calendar/tests/test_calendar.py
  addons/calendar/views/calendar_views.xml
  addons/google_calendar/models/calendar.py
Owners: none
