Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

[IMP] mail: allow to customize the header of the thread window
  addons/mail/static/src/xml/abstract_thread_window.xml
Owners: @odoo/rd-discuss

[IMP] web: support custom rec_name in calendar view
  addons/web/static/src/js/views/calendar/calendar_model.js
  addons/web/static/src/js/views/calendar/calendar_view.js
  addons/web/static/tests/views/calendar_tests.js
  odoo/addons/base/rng/calendar_view.rng
Owners: none

[IMP] tools: adding a xpath feature to replace the target's content
  odoo/addons/base/tests/test_views.py
  odoo/tools/template_inheritance.py
Owners: @odoo/rd-images, @odoo/rd-security

[IMP] base: remove redundant base64 back and forth in attachments
  odoo/addons/base/models/assetsbundle.py
  odoo/addons/base/models/ir_actions_report.py
  odoo/addons/base/models/ir_attachment.py
  odoo/addons/base/tests/test_ir_attachment.py
  odoo/fields.py
Owners: @odoo/rd-images

[FIX] account: separation between amount and currency on printed invoice
  addons/account/views/report_invoice.xml
Owners: none

[IMP] website, *: introduce new classes to color snippets
  addons/web/static/src/scss/bs_mixins_overrides.scss
  addons/web_editor/static/src/scss/secondary_variables.scss
  addons/web_editor/static/src/scss/web_editor.common.scss
  addons/web_editor/static/src/scss/web_editor.variables.scss
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] website: add a demo page to test color combinations classes
  addons/website/data/website_demo.xml
Owners: none

[REF] web_editor: do not suggest old color names for btn styles anymore
  addons/web_editor/static/src/js/wysiwyg/widgets/link_dialog.js
  addons/web_editor/static/src/xml/wysiwyg.xml
Owners: none

[IMP] web_editor: allow color combinations specific override and access
  addons/web_editor/static/src/scss/secondary_variables.scss
  addons/web_editor/static/src/scss/web_editor.common.scss
Owners: none

[IMP] web_editor, *: integrate new o_cc${xxx} classes in the colorpicker
  addons/web_editor/static/src/js/editor/snippets.options.js
  addons/web_editor/static/src/js/wysiwyg/widgets/color_palette.js
  addons/web_editor/static/src/scss/wysiwyg_snippets.scss
  addons/web_editor/static/src/xml/snippets.xml
  addons/website/static/src/scss/website.wysiwyg.scss
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] web_editor, website: use new color names
  addons/web_editor/static/src/js/wysiwyg/widgets/color_palette.js
  addons/web_editor/static/src/scss/13_0_color_system_support_primary_variables.scss
  addons/web_editor/static/src/scss/secondary_variables.scss
  addons/web_editor/static/src/scss/web_editor.backend.scss
  addons/web_editor/static/src/scss/web_editor.common.scss
  addons/web_editor/static/src/scss/web_editor.variables.scss
  addons/web_editor/static/tests/field_html_tests.js
  addons/web_editor/static/tests/test_utils.js
  addons/web_editor/views/editor.xml
  addons/website/data/website_demo.xml
  addons/website/static/src/js/editor/snippets.options.js
  addons/website/static/src/scss/secondary_variables.scss
  addons/website/static/src/scss/website.scss
  addons/website/static/src/snippets/s_chart/options.js
  addons/website/views/snippets/s_badge.xml
  addons/website/views/snippets/s_comparisons.xml
  addons/website/views/snippets/s_features.xml
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] web_editor, website: allow color palette selection
  addons/web_editor/static/src/scss/web_editor.variables.scss
  addons/website/static/src/js/editor/snippets.options.js
  addons/website/static/src/scss/primary_variables.scss
  addons/website/static/src/scss/secondary_variables.scss
  addons/website/static/src/scss/website.scss
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] website: add link decoration option, underline by default
  addons/web/static/src/scss/bootstrap_review.scss
  addons/web/static/src/scss/navbar.scss
  addons/website/static/src/scss/bootstrap_overridden.scss
  addons/website/static/src/scss/primary_variables.scss
  addons/website/static/src/scss/website.ui.scss
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] website: allow users to choose the contrasting text color
  addons/website/static/src/scss/bootstrap_overridden.scss
  addons/website/static/src/scss/primary_variables.scss
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] web_editor, website: allow presets user edition
  addons/web_editor/static/src/scss/web_editor.common.scss
  addons/web_editor/static/src/scss/wysiwyg_snippets.scss
  addons/web_editor/static/src/xml/snippets.xml
  addons/website/static/src/js/editor/snippets.options.js
  addons/website/static/src/xml/website.editor.xml
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] website, web: allow to choose website font-size
  addons/web/static/src/scss/bootstrap_overridden_frontend.scss
  addons/web/static/src/scss/primary_variables.scss
  addons/website/static/src/scss/bootstrap_overridden.scss
  addons/website/static/src/scss/primary_variables.scss
  addons/website/views/snippets/snippets.xml
Owners: none

m
  addons/account/models/account_move.py
  odoo/models.py
Owners: none

[IMP] core: do not recompute stored field on new record
  odoo/addons/test_new_api/models/test_new_api.py
  odoo/addons/test_new_api/tests/test_new_fields.py
  odoo/addons/test_new_api/tests/test_onchange.py
  odoo/addons/test_new_api/views/test_new_api_views.xml
  odoo/fields.py
  odoo/models.py
Owners: none

[IMP] event: send mail on event stage change
  addons/event/models/event_event.py
  addons/event/models/event_mail.py
  addons/event/tests/test_event_mail_schedule.py
  addons/event/views/event_views.xml
Owners: none

[IMP] event: show the state of the event mails
  addons/event/__manifest__.py
  addons/event/models/event_mail.py
  addons/event/static/src/js/icon_selection_widget.js
  addons/event/static/src/xml/icon_selection_widget.xml
  addons/event/views/event_templates.xml
  addons/event/views/event_views.xml
Owners: none

m
  addons/account/models/account_move.py
  addons/account/tests/test_account_move_out_invoice.py
  addons/account/views/account_move_views.xml
Owners: none

[IMP] account,l10n_generic_coa: add taxes and pdf to demo invoice
  addons/account/demo/account_demo.xml
  addons/l10n_generic_coa/demo/account_invoice_demo.xml
  addons/l10n_generic_coa/static/src/demo/out_invoice_yourcompany_demo_1.pdf
  addons/l10n_generic_coa/static/src/demo/out_invoice_yourcompany_demo_2.pdf
  addons/l10n_generic_coa/static/src/demo/out_invoice_yourcompany_demo_3.pdf
  addons/l10n_generic_coa/static/src/demo/out_invoice_yourcompany_demo_4.pdf
  odoo/service/server.py
Owners: none

[IMP] Planning: Improve help message
  addons/hr_timesheet/models/project.py
  addons/hr_timesheet/views/project_views.xml
  addons/project/models/project.py
Owners: none

[FIX] website_slides: changes enroll_msg default value
  addons/website_slides/models/slide_channel.py
  addons/website_slides/views/website_slides_templates_course.xml
Owners: none

[FIX] marketing_automation: fix traceback when editing activities
  addons/web/static/src/js/views/basic/basic_view.js
Owners: none

[ADD] l10n_fi: Finnish localization module
  addons/l10n_fi/__init__.py
  addons/l10n_fi/__manifest__.py
  addons/l10n_fi/data/account.account.template.csv
  addons/l10n_fi/data/account_account_tag_data.xml
  addons/l10n_fi/data/account_chart_template_configuration_data.xml
  addons/l10n_fi/data/account_chart_template_data.xml
  addons/l10n_fi/data/account_fiscal_position_template_data.xml
  addons/l10n_fi/data/account_tax_report_line.xml
  addons/l10n_fi/data/account_tax_template_data.xml
  addons/l10n_fi/data/l10n_fi_chart_post_data.xml
  addons/l10n_fi/static/description/icon.png
Owners: none

[ADD] Added l10n_fi without CoA
  addons/l10n_fi/__init__.py
  addons/l10n_fi/__manifest__.py
  addons/l10n_fi/data/res_partner_operator_einvoice_data.xml
  addons/l10n_fi/i18n/fi.po
  addons/l10n_fi/i18n/l10n_fi.pot
  addons/l10n_fi/models/__init__.py
  addons/l10n_fi/models/account_journal.py
  addons/l10n_fi/models/account_move.py
  addons/l10n_fi/models/res_company.py
  addons/l10n_fi/models/res_config_settings.py
  addons/l10n_fi/models/res_partner.py
  addons/l10n_fi/models/res_partner_operator_einvoice.py
  addons/l10n_fi/security/ir.model.access.csv
  addons/l10n_fi/static/description/finland.svg
  addons/l10n_fi/static/description/icon.png
  addons/l10n_fi/static/description/index.html
  addons/l10n_fi/tests/__init__.py
  addons/l10n_fi/tests/test_get_reference.py
  addons/l10n_fi/tests/test_references.py
  addons/l10n_fi/views/menuitems.xml
  addons/l10n_fi/views/res_company_views.xml
  addons/l10n_fi/views/res_config_settings_views.xml
  addons/l10n_fi/views/res_partner_operator_einvoice_views.xml
  addons/l10n_fi/views/res_partner_views.xml
Owners: none

update code
  addons/portal/static/src/js/portal_chatter.js
  addons/portal_rating/controllers/portal_chatter.py
Owners: @odoo/rd-images

[FIX] sale: change the date to isoformat to be serializable
  addons/sale/controllers/portal.py
Owners: none

[FIX] link_tracker: do not allow link tracker duplication
  addons/link_tracker/models/link_tracker.py
  addons/link_tracker/views/link_tracker.xml
  addons/website_links/controller/main.py
  addons/website_slides/models/slides.py
Owners: none

[IMP] account: install and load COA on company creation
  addons/account/__init__.py
  addons/account/models/company.py
Owners: none

[IMP] l10n_ar: improvement related to auto-install localization and load COA
  addons/l10n_ar/models/res_company.py
Owners: none

improve/experi{ment)
  addons/account/__init__.py
  addons/account/models/company.py
  addons/l10n_ar/models/account_chart_template.py
  addons/l10n_ar/models/res_company.py
Owners: none

[IMP] stock: orderpoint as a list view + trigger manual
  addons/purchase_stock/models/stock.py
  addons/stock/models/stock_orderpoint.py
  addons/stock/models/stock_rule.py
  addons/stock/views/stock_orderpoint_views.xml
Owners: none

[IMP] stock: _get_rule allows to specify route_ids
  addons/stock/models/product.py
Owners: none

[IMP] stock: orderpoint respect guidelines
  addons/stock/models/stock_orderpoint.py
Owners: none

[IMP] stock: replenish order button
  addons/stock/models/stock_orderpoint.py
  addons/stock/models/stock_rule.py
  addons/stock/static/src/js/stock_orderpoint_list_controller.js
  addons/stock/static/src/js/stock_orderpoint_list_model.js
  addons/stock/static/src/js/stock_orderpoint_list_view.js
  addons/stock/static/src/xml/stock_orderpoint.xml
  addons/stock/views/stock_template.xml
Owners: none

[IMP] stock: remove useless arg
  addons/stock/models/stock_orderpoint.py
Owners: none

[REF] stock: extract quantity in progress for orderpoints
  addons/stock/models/stock_orderpoint.py
  addons/stock/models/stock_rule.py
Owners: none

[MOV] stock: stock.warehouse.orderpoint own views file
  addons/stock/__manifest__.py
  addons/stock/views/stock_orderpoint_views.xml
  addons/stock/views/stock_warehouse_views.xml
Owners: none

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security
