Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

[IMP] website_event_track: allow archiving of event sponsors
  addons/website_event_track/models/event_sponsor.py
  addons/website_event_track/views/event_sponsor_views.xml
Owners: none

[IMP] website_event_track: retrieve sponsor website from partner
  addons/website_event_track/models/event_sponsor.py
  addons/website_event_track/views/event_sponsor_views.xml
Owners: none

do action request is broadcasted to give a chance to components to clean their stuff
  addons/web/static/src/js/action_manager/action_manager.js
Owners: none

move to preps
  addons/mail/static/src/messaging/component/attachment_viewer/attachment_viewer.js
  addons/mail/static/src/messaging/component/chat_window_hidden_menu/chat_window_hidden_menu.js
  addons/mail/static/src/messaging/component/chat_window_manager/chat_window_manager_tests.js
  addons/mail/static/src/messaging/component/chatter/chatter_tests.js
  addons/mail/static/src/messaging/component/chatter_topbar/chatter_topbar.js
  addons/mail/static/src/messaging/component/discuss/discuss_tests.js
  addons/mail/static/src/messaging/component/discuss_sidebar/discuss_sidebar.js
  addons/mail/static/src/messaging/component/message/message.js
Owners: @odoo/rd-discuss

[IMP] recaptchav3, *: integrate recaptcha in website
  addons/base_setup/models/res_config_settings.py
  addons/base_setup/views/res_config_settings_views.xml
  addons/recaptchav3/__init__.py
  addons/recaptchav3/__manifest__.py
  addons/recaptchav3/models/__init__.py
  addons/recaptchav3/models/ir_http.py
  addons/recaptchav3/models/res_config_settings.py
  addons/recaptchav3/static/src/js/recaptcha.js
  addons/recaptchav3/views/assets.xml
  addons/recaptchav3/views/res_config_settings_view.xml
  addons/website_form/__manifest__.py
  addons/website_form/controllers/main.py
  addons/website_form/static/src/snippets/s_website_form/000.js
Owners: none

[FIX] account: Fix broken attrs in account.move form view
  addons/account/views/account_move_views.xml
Owners: none

reviewreview
  addons/lunch/populate/lunch.py
  odoo/addons/base/populate/res_user.py
Owners: none

from 51 to 43
  addons/website_blog/controllers/main.py
  addons/website_blog/views/website_blog_posts_loop.xml
Owners: none

[IMP] website: create functions that generate steps for a web tour
  addons/website/static/src/js/tours/tour_utils.js
  addons/website/views/assets.xml
Owners: none

[REM] website: remove banner tour
  addons/website/static/src/js/tours/banner.js
  addons/website/tests/test_ui.py
Owners: none

[IMP] tools: adding a xpath feature to replace target's content
  odoo/addons/base/rng/common.rng
  odoo/addons/base/tests/test_views.py
  odoo/tools/template_inheritance.py
Owners: @odoo/rd-images, @odoo/rd-security

[IMP] web_tour: tip ideal location correction This commit add the case where the overflow of the anchor is 'hidden auto' and not only 'hidden'
  addons/web_tour/static/src/js/tip.js
Owners: none

[IMP] website: rename the old banner tour file
  addons/website/static/src/js/tours/contact.js
  addons/website/views/assets.xml
Owners: none

[IMP] web_tour: add a scroll tip indicator and input consumation
  addons/web_tour/static/src/js/tip.js
  addons/website/static/src/js/tours/tour_utils.js
Owners: none

post oco review (part 1 before week-end)
  addons/account/models/account.py
  addons/account/models/account_bank_statement.py
  addons/account/models/account_move.py
  addons/account/models/account_payment.py
Owners: none

m
  addons/purchase_stock/models/stock.py
  addons/purchase_stock/tests/test_reordering_rule.py
  addons/stock/models/stock_orderpoint.py
  addons/stock/models/stock_rule.py
  addons/stock/static/src/js/stock_orderpoint_list_controller.js
  addons/stock/static/src/js/stock_orderpoint_list_model.js
  addons/stock/static/src/xml/stock_orderpoint.xml
  addons/stock/views/stock_orderpoint_views.xml
  odoo/addons/test_main_flows/static/tests/tours/main_flow.js
Owners: none

[IMP] website_blog: perf - store related website_id
  addons/website_blog/models/website_blog.py
Owners: none

[IMP] website_forum: improve tree and form view This commit add a lot of features and information about forum.forum, forum.post, forum.tag.
  addons/website_forum/__init__.py
  addons/website_forum/__manifest__.py
  addons/website_forum/models/forum.py
  addons/website_forum/security/ir.model.access.csv
  addons/website_forum/static/src/scss/website_forum.scss
  addons/website_forum/views/forum.xml
  addons/website_forum/views/website_forum.xml
  addons/website_forum/wizard/__init__.py
  addons/website_forum/wizard/forum_post_state_change.py
  addons/website_forum/wizard/forum_post_state_change.xml
Owners: none

fixup
  odoo/addons/test_quality/models/ir_model_access.py
  odoo/addons/test_quality/tests/test_security.py
Owners: none

[IMP] web: Allow hide/show stroke in signature
  addons/web/static/lib/jSignature/jSignatureCustom.js
  addons/web/static/src/js/widgets/name_and_signature.js
Owners: none

[FIX] web: Fix rotate button of pdfjs on high res screens
  addons/web/static/lib/pdfjs/web/viewer.css
Owners: none

[FIX] gamification: email template
  addons/gamification/views/mail_templates.xml
Owners: none

[FIX] wforum: mobile label
  addons/website_forum/views/website_forum.xml
Owners: none

[IMP] various: Replace incorrect use of "edition"
  addons/barcodes/static/src/js/barcode_form_view.js
  addons/hr/models/res_config_settings.py
  addons/hr/tests/test_self_user_access.py
  addons/mail/models/mail_activity.py
  addons/note/README.md
  addons/portal/__manifest__.py
  addons/purchase/views/res_config_settings_views.xml
  addons/stock/models/stock_inventory.py
  addons/stock/models/stock_quant.py
  addons/web_editor/static/src/js/editor/editor.js
  addons/website/doc/website.snippet.rst
  addons/website/static/src/js/editor/editor_menu.js
  addons/website_event/README.md
  addons/website_sale/README.md
  doc/howtos/web.rst
  doc/howtos/website.rst
  doc/reference/javascript_reference.rst
  doc/reference/mixins.rst
  doc/reference/qweb.rst
  doc/reference/views.rst
Owners: @odoo/rd-discuss, @odoo/rd-images

[IMP] purchase(_stock): Add more and update PO dates
  addons/purchase/models/purchase.py
  addons/purchase/tests/test_purchase.py
  addons/purchase/views/purchase_views.xml
  addons/purchase_stock/models/purchase.py
  addons/purchase_stock/tests/test_purchase_lead_time.py
  addons/purchase_stock/views/purchase_views.xml
Owners: none

[IMP] purchase(_stock): Add more reporting values
  addons/purchase/report/purchase_report.py
  addons/purchase_stock/models/purchase.py
  addons/purchase_stock/report/purchase_report.py
Owners: none

[IMP] sms: Add new failure status for unregistered accounts
  addons/mass_mailing_sms/models/mailing_trace.py
  addons/sms/data/mail_demo.xml
  addons/sms/models/mail_notification.py
  addons/sms/models/sms_api.py
  addons/sms/models/sms_sms.py
  addons/sms/tests/common.py
  addons/sms/wizard/sms_resend.py
  addons/sms/wizard/sms_resend_views.xml
  addons/test_mail_full/tests/test_sms_post.py
Owners: @odoo/rd-discuss

[FIX] web,*: phone number ltr even in rtl language
  addons/crm/views/crm_lead_views.xml
  addons/crm/wizard/crm_lead_to_opportunity_views.xml
  addons/crm/wizard/crm_merge_opportunities_views.xml
  addons/event/views/event_views.xml
  addons/event_sale/wizard/event_edit_registration.xml
  addons/hr/views/hr_employee_public_views.xml
  addons/hr/views/hr_employee_views.xml
  addons/hr/views/res_users.xml
  addons/hr_recruitment/views/hr_recruitment_views.xml
  addons/lunch/views/lunch_supplier_views.xml
  addons/mass_mailing_sms/views/mailing_contact_views.xml
  addons/web/static/src/scss/ui.scss
  addons/website/views/website_visitor_views.xml
  addons/website_event_track/views/event_track_views.xml
  addons/website_sms/views/website_visitor_views.xml
  odoo/addons/base/views/res_bank_views.xml
  odoo/addons/base/views/res_company_views.xml
  odoo/addons/base/views/res_partner_views.xml
Owners: none

[IMP] purchase: Add purchase order dashboard
  addons/purchase/__manifest__.py
  addons/purchase/models/purchase.py
  addons/purchase/static/src/js/purchase_dashboard.js
  addons/purchase/static/src/scss/purchase.scss
  addons/purchase/static/src/xml/purchase_dashboard.xml
  addons/purchase/views/assets.xml
  addons/purchase/views/purchase_views.xml
Owners: none

[IMP] web: scope list table selection
  addons/web/static/src/js/views/list/list_editable_renderer.js
Owners: none

more preps
  addons/im_livechat/static/src/messaging/component/discuss_sidebar/discuss_sidebar.js
  addons/mail/static/src/messaging/component/activity/activity_tests.js
  addons/mail/static/src/messaging/component/activity_mark_done_popover/activity_mark_done_popover.js
  addons/mail/static/src/messaging/component/discuss_sidebar/discuss_sidebar.js
  addons/mail/static/src/messaging/component/discuss_sidebar/discuss_sidebar.xml
  addons/mail/static/src/messaging/component/message_list/message_list.js
  addons/mail/static/src/messaging/component/messaging_menu/messaging_menu.js
  addons/mail/static/src/messaging/component/messaging_menu/messaging_menu_tests.js
  addons/mail/static/src/messaging/component/moderation_ban_dialog/moderation_ban_dialog.js
  addons/mail/static/src/messaging/component/moderation_ban_dialog/moderation_ban_dialog.xml
  addons/mail/static/src/messaging/component/moderation_discard_dialog/moderation_discard_dialog.js
  addons/mail/static/src/messaging/component/moderation_reject_dialog/moderation_reject_dialog.js
  addons/mail/static/src/messaging/component/notification_list/notification_list.js
  addons/mail/static/src/messaging/component/notification_list/notification_list.xml
  addons/mail/static/src/messaging/component/partner_im_status_icon/partner_im_status_icon_tests.js
  addons/mail/static/src/messaging/component/popover_button/popover_button.js
  addons/mail/static/src/messaging/component/popover_button_with_component/popover_button_with_component.js
  addons/mail/static/src/messaging/component/thread_preview/thread_preview.js
  addons/mail/static/src/messaging/component/thread_viewer/thread_viewer.js
  addons/mail/static/src/messaging/component_hook/use_store/use_store_tests.js
  addons/mail/static/src/messaging/service/chat_window_service/chat_window_service.js
  addons/mail/static/src/messaging/service/dialog_service/dialog_service.js
  addons/mail/static/src/messaging/service/messaging_service/messaging_service.js
  addons/mail/static/src/messaging/store/messaging_getters.js
  addons/mail/static/src/messaging/test_utils.js
  addons/mail/static/src/messaging/widget/discuss/discuss.js
  addons/mail/static/src/messaging/widget/discuss_invite_partner_dialog/discuss_invite_partner_dialog.js
  addons/mail/static/src/messaging/widget/form_renderer/form_renderer.js
  addons/mail/static/src/messaging/widget/messaging_menu/messaging_menu.js
  addons/mail_bot/static/src/messaging/widget/notification_alert/notification_alert.js
Owners: @odoo/rd-discuss

getters fix
  addons/mail/static/src/messaging/component/moderation_ban_dialog/moderation_ban_dialog.js
  addons/mail/static/src/messaging/component/moderation_discard_dialog/moderation_discard_dialog.js
  addons/mail/static/src/messaging/component/moderation_reject_dialog/moderation_reject_dialog.js
Owners: @odoo/rd-discuss

oversight of prep
  addons/mail/static/src/messaging/component/messaging_menu/messaging_menu.js
  addons/mail/static/src/messaging/component/thread_viewer/thread_viewer.js
  addons/mail/static/src/messaging/service/messaging_service/messaging_service.js
  addons/mail/static/src/messaging/store/messaging_actions.js
Owners: @odoo/rd-discuss

[REF] web: move _archive function to BasicController
  addons/web/static/src/js/views/basic/basic_controller.js
  addons/web/static/src/js/views/form/form_controller.js
  addons/web/static/src/js/views/list/list_controller.js
Owners: none

[FIX] web: list: keep header checkbox selected
  addons/web/static/src/js/views/list/list_renderer.js
  addons/web/static/tests/views/list_tests.js
Owners: none

[IMP] web: adapt delete feature to list selection changes
  addons/web/static/src/js/views/basic/basic_controller.js
  addons/web/static/src/js/views/list/list_controller.js
  addons/web/static/tests/views/list_tests.js
Owners: none

[IMP] web: selection in list views
  addons/web/__manifest__.py
  addons/web/data/web_data.xml
  addons/web/models/ir_http.py
  addons/web/static/src/js/components/action_menus.js
  addons/web/static/src/js/views/list/list_controller.js
  addons/web/static/src/scss/list_view.scss
  addons/web/static/src/xml/base.xml
  addons/web/static/tests/components/action_menus_tests.js
  addons/web/static/tests/helpers/mock_server.js
  addons/web/static/tests/views/list_tests.js
Owners: none

[IMP] web: adapt export feature to list selection changes
  addons/web/static/src/js/views/list/list_controller.js
  addons/web/static/tests/widgets/data_export_tests.js
Owners: none

[REF] account: remove select_all
  addons/account/wizard/account_resequence.py
Owners: none

[IMP] web: adapt (un)archive feature to list selection changes
  addons/web/static/src/js/views/basic/basic_controller.js
  addons/web/static/src/js/views/basic/basic_model.js
  addons/web/static/src/js/views/form/form_controller.js
  addons/web/static/src/js/views/kanban/kanban_controller.js
  addons/web/static/src/js/views/list/list_controller.js
  addons/web/static/tests/views/kanban_model_tests.js
  addons/web/static/tests/views/list_tests.js
Owners: none

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security
