Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security

[IMP] google_calendar: Manage account reset
  addons/google_calendar/__init__.py
  addons/google_calendar/__manifest__.py
  addons/google_calendar/security/ir.model.access.csv
  addons/google_calendar/views/res_users_views.xml
  addons/google_calendar/wizard/__init__.py
  addons/google_calendar/wizard/reset_account.py
  addons/google_calendar/wizard/reset_account_views.xml
Owners: none

[REF] calendar: Hide event private fields
  addons/calendar/models/calendar_event.py
  addons/crm/models/crm_lead.py
Owners: none

[REF] calendar: Lint + Clean code
  addons/calendar/controllers/main.py
  addons/calendar/data/mail_data.xml
  addons/calendar/models/calendar_alarm.py
  addons/calendar/models/calendar_alarm_manager.py
  addons/calendar/models/calendar_attendee.py
  addons/calendar/models/calendar_event.py
  addons/calendar/models/calendar_recurrence.py
  addons/calendar/models/ir_http.py
  addons/calendar/models/res_partner.py
  addons/calendar/models/res_users.py
  addons/calendar/security/calendar_security.xml
  addons/calendar/static/src/js/base_calendar.js
  addons/calendar/static/src/js/calendar_controller.js
  addons/calendar/static/src/js/calendar_model.js
  addons/calendar/tests/test_calendar.py
  addons/google_account/__init__.py
  addons/google_account/models/google_service.py
  addons/google_calendar/README.md
  addons/google_calendar/controllers/main.py
  addons/google_calendar/models/calendar.py
  addons/google_calendar/models/calendar_recurrence_rule.py
  addons/google_calendar/models/google_sync.py
  addons/google_calendar/tests/test_sync_google2odoo.py
  addons/google_calendar/tests/test_sync_odoo2google.py
  addons/google_calendar/utils/google_calendar.py
  addons/google_calendar/utils/google_event.py
  addons/google_calendar/wizard/__init__.py
  addons/google_calendar/wizard/reset_account.py
Owners: none

Delete old code
  addons/mail/static/src/js/attachment_box.js
  addons/mail/static/src/js/chatter.js
  addons/mail/static/src/js/composers/chatter_composer.js
  addons/mail/static/src/js/followers.js
  addons/mail/static/src/js/thread_field.js
  addons/mail/static/src/scss/attachment_box.scss
  addons/mail/static/src/scss/chatter.scss
  addons/mail/static/src/scss/followers.scss
  addons/mail/views/mail_templates.xml
Owners: @odoo/rd-discuss

[FIX] web: fix qunit testcase
  addons/web/static/src/js/views/list/list_controller.js
  addons/web/static/tests/views/list_tests.js
Owners: none

c
  addons/point_of_sale/models/pos_session.py
Owners: none

[IMP] hr_expense: add accounting_date in expense
  addons/hr_expense/models/hr_expense.py
  addons/hr_expense/views/hr_expense_views.xml
Owners: none

adding size options cover even if there's only a color and no imagewq
  addons/website/views/snippets/snippets.xml
  addons/website/views/website_templates.xml
  addons/website_blog/views/website_blog_templates.xml
  addons/website_event/views/event_templates.xml
Owners: none

[IMP] mass_mailing: allow switching mail server in sent mailing
  addons/mass_mailing/models/mailing.py
Owners: none

[IMP] mass_mailing: Allow server switch post-send
  addons/mass_mailing/views/mailing_mailing_views.xml
Owners: none

Marginal stuff
  addons/web/static/src/js/action_manager/action_plugins/url_action_plugin.js
  addons/web/static/src/js/chrome/systray_menu.js
Owners: none

[REL] saas-13.2
  odoo/release.py
Owners: none

Make create date and write date used from python and therefore sensible to faketime
  odoo/models.py
Owners: none

[IMP] website_event(_track): move options from the form view to the customize dropdown
  addons/website_event/static/src/js/website_event_set_customize_options.js
  addons/website_event/static/src/xml/customize_options.xml
  addons/website_event/views/assets.xml
  addons/website_event_track/models/event_event.py
  addons/website_event_track/static/src/js/website_event_track_set_customize_options.js
  addons/website_event_track/static/src/xml/customize_options.xml
  addons/website_event_track/views/event_track_templates.xml
Owners: none

[IMP] website_event(_track): adapt code after tde's refactoring and fix duplicate sub-menu
  addons/website_event/models/event_event.py
  addons/website_event_track/models/event_event.py
Owners: none

[REF] (website_)event(_sale): change seats_availability field to seats_limited
  addons/event/data/event_demo.xml
  addons/event/models/event_event.py
  addons/event/models/event_registration.py
  addons/event/models/event_ticket.py
  addons/event/tests/test_event_flow.py
  addons/event/tests/test_event_internals.py
  addons/event/tests/test_event_security.py
  addons/event/views/event_ticket_views.xml
  addons/event/views/event_views.xml
  addons/event_sale/tests/test_event_internals.py
  addons/event_sale/views/sale_order_views.xml
  addons/event_sale/wizard/event_configurator_views.xml
  addons/website_event/views/event_templates.xml
  addons/website_event_sale/models/sale_order.py
Owners: none

[IMP] (website_)event(_track): change event form view display
  addons/event/data/event_data.xml
  addons/event/models/event_event.py
  addons/event/tests/common.py
  addons/event/tests/test_event_internals.py
  addons/event/views/event_views.xml
  addons/mass_mailing_event_track/views/event_views.xml
  addons/website_event/controllers/main.py
  addons/website_event/views/event_templates.xml
  addons/website_event/views/event_views.xml
  addons/website_event_questions/views/event_views.xml
  addons/website_event_track/views/event_views.xml
Owners: none

[IMP] gamification: improve tree and form view This commit improve the tree and form view of gamification.karma.rank and correct a bug on auto generated email when a user pass to the next rank.
  addons/gamification/models/gamification_karma_rank.py
  addons/gamification/views/gamification_karma_rank_views.xml
  addons/website_forum/views/forum.xml
Owners: none

review
  addons/lunch/populate/lunch.py
  odoo/addons/base/populate/res_partner.py
  odoo/addons/base/populate/res_user.py
  odoo/tools/populate.py
Owners: @odoo/rd-images, @odoo/rd-security

[IMP] website_calendar: Mailing wording
  addons/calendar/data/mail_data.xml
Owners: none

[IMP] website_calendar: Mailing wording
  addons/calendar/data/mail_data.xml
Owners: none

[IMP] hr_holidays: improve dashboard
  addons/hr_holidays/models/hr_leave.py
  addons/hr_holidays/models/hr_leave_type.py
  addons/hr_holidays/static/src/js/time_off_calendar.js
  addons/hr_holidays/static/src/xml/time_off_calendar.xml
  addons/hr_holidays/views/hr_leave_views.xml
Owners: none

[IMP] sale_expense : add condition on expense_policy display
  addons/sale_expense/views/product_view.xml
Owners: none

[IMP] survey: add background option per section
  addons/survey/controllers/main.py
  addons/survey/controllers/survey_session_manage.py
  addons/survey/models/survey_question.py
  addons/survey/models/survey_survey.py
  addons/survey/static/src/js/survey_form.js
  addons/survey/static/src/js/survey_session_manage.js
  addons/survey/static/src/scss/survey_form.scss
  addons/survey/views/survey_question_views.xml
  addons/survey/views/survey_templates.xml
  addons/survey/views/survey_templates_user_input_session.xml
Owners: none

[FIX] mrp: create mrp.document through mrp.eco
  addons/mrp/controller/main.py
Owners: none

[ADD] event_crm_sale: create leads from attendees
  addons/event_crm_sale/__init__.py
  addons/event_crm_sale/__manifest__.py
  addons/event_crm_sale/models/__init__.py
  addons/event_crm_sale/models/event_registration.py
  addons/event_crm_sale/views/event_lead_views.xml
Owners: none

[ADD] event_crm: create leads from attendees
  addons/event_crm/__init__.py
  addons/event_crm/__manifest__.py
  addons/event_crm/models/__init__.py
  addons/event_crm/models/crm_lead.py
  addons/event_crm/models/event_event.py
  addons/event_crm/models/event_lead_rule.py
  addons/event_crm/models/event_registration.py
  addons/event_crm/security/event_crm_security.xml
  addons/event_crm/security/ir.model.access.csv
  addons/event_crm/tests/__init__.py
  addons/event_crm/tests/common.py
  addons/event_crm/tests/test_event_crm_flow.py
  addons/event_crm/views/crm_lead_views.xml
  addons/event_crm/views/event_lead_views.xml
  addons/event_crm/views/event_views.xml
Owners: none

[IMP] (website_)event(_sale): create leads from attendees
  addons/event/models/event_registration.py
  addons/event/views/event_views.xml
  addons/event_sale/models/event_registration.py
  addons/event_sale/models/sale_order.py
  addons/event_sale/views/event_registration_views.xml
  addons/event_sale/wizard/event_edit_registration.py
  addons/website_event/controllers/main.py
  addons/website_event_sale/controllers/main.py
Owners: none

[ADD] website_event_crm: create leads from attendees
  addons/website_event_crm/__manifest__.py
  addons/website_event_crm/views/event_lead_views.xml
Owners: none

[ADD] website_event_crm_questions: create leads from attendees
  addons/website_event_crm_questions/__init__.py
  addons/website_event_crm_questions/__manifest__.py
  addons/website_event_crm_questions/models/__init__.py
  addons/website_event_crm_questions/models/event_registration.py
Owners: none

[IMP] event_crm: add simple demo data
  addons/event_crm/__manifest__.py
  addons/event_crm/data/event_crm_demo.xml
  addons/website_event_crm/__manifest__.py
  addons/website_event_crm/data/event_crm_demo.xml
Owners: none

[IMP] website_slides: spellchecking correction
  addons/website_slides/views/res_config_settings_views.xml
Owners: none

[IMP] accounting : several misc improvements
  addons/account/__manifest__.py
  addons/account/models/account.py
  addons/account/report/account_invoice_report_view.xml
  addons/account/views/account_analytic_view.xml
  addons/account/views/account_cash_rounding_view.xml
  addons/account/views/account_incoterms_view.xml
  addons/account/views/account_journal_dashboard_view.xml
  addons/account/views/account_menuitem.xml
  addons/account/views/account_move_views.xml
  addons/account/views/account_payment_view.xml
  addons/account/views/account_tax_report_views.xml
  addons/account/views/account_view.xml
  addons/account/views/partner_view.xml
  addons/account/views/res_config_settings_views.xml
  addons/account/views/tax_adjustments.xml
  addons/account/wizard/account_move_reversal.py
  addons/account/wizard/account_move_reversal_view.xml
  addons/account_analytic_default/views/account_analytic_default_view.xml
Owners: none

[IMP] base, account, l10n_ch, website_sale, payment, web: make payment QR-code generation more generic
  addons/account/models/__init__.py
  addons/account/models/account_move.py
  addons/account/models/account_payment.py
  addons/account/models/company.py
  addons/account/models/res_bank.py
  addons/account/models/res_config_settings.py
  addons/account/report/account_invoice_report.py
  addons/account/views/account_move_views.xml
  addons/account/views/account_payment_view.xml
  addons/account/views/report_invoice.xml
  addons/account/views/res_config_settings_views.xml
  addons/account_qr_code_sepa/__init__.py
  addons/account_qr_code_sepa/__manifest__.py
  addons/account_qr_code_sepa/models/__init__.py
  addons/account_qr_code_sepa/models/res_bank.py
  addons/account_qr_code_sepa/tests/__init__.py
  addons/account_qr_code_sepa/tests/test_sepa_qr.py
  addons/l10n_ch/models/__init__.py
  addons/l10n_ch/models/account_invoice.py
  addons/l10n_ch/models/ir_actions_report.py
  addons/l10n_ch/models/res_bank.py
  addons/l10n_ch/models/res_config_settings.py
  addons/l10n_ch/report/swissqr_report.xml
  addons/l10n_ch/tests/__init__.py
  addons/l10n_ch/tests/test_ch_qr_code.py
  addons/l10n_ch/tests/test_l10n_ch_swissqr.py
  addons/l10n_ch/views/res_config_settings_views.xml
  addons/payment/models/payment_acquirer.py
  addons/payment/views/payment_portal_templates.xml
  addons/web/controllers/main.py
  addons/website_sale/views/templates.xml
  odoo/addons/base/models/ir_actions_report.py
  odoo/addons/base/models/res_bank.py
Owners: @odoo/rd-images, @odoo/rd-security

WIP
  addons/barcodes/data/barcodes_data.xml
  addons/barcodes/models/barcodes.py
  addons/barcodes/static/src/js/barcode_events.js
  addons/barcodes/tests/test_barcode_nomenclature.py
  addons/stock/data/default_barcode_patterns.xml
  addons/stock/tests/__init__.py
  addons/stock/tests/test_stock_barcode.py
Owners: none

[REF] barcodes: refactor check digit computation
  addons/barcodes/models/barcodes.py
  addons/barcodes/static/src/js/barcode_parser.js
  addons/barcodes/static/tests/barcode_parser_tests.js
  addons/barcodes/tests/test_barcode_nomenclature.py
  addons/barcodes/views/barcodes_templates.xml
Owners: none

[web][WIP] Convert graph renderer to owl
  addons/web/__manifest__.py
  addons/web/static/src/js/views/graph/graph_owl_renderer.js
  addons/web/static/src/js/views/graph/graph_view.js
  addons/web/static/src/xml/graph.xml
  addons/web/views/webclient_templates.xml
Owners: none

perf to recheck
  addons/website_blog/controllers/main.py
Owners: none

[IMP] mail_bot: Remove OdooBot ping answers
  addons/mail_bot/models/mail_bot.py
  addons/test_mail/tests/test_odoobot.py
Owners: @odoo/rd-discuss

[ADD] mail_bot_hr: Bridge module to remove mail_bot dependency from hr
  addons/hr/__manifest__.py
  addons/mail_bot/__manifest__.py
  addons/mail_bot/models/__init__.py
  addons/mail_bot/static/src/js/notification_alert.js
  addons/mail_bot/views/discuss.xml
  addons/mail_bot/views/res_users_views.xml
  addons/mail_bot_hr/__init__.py
  addons/mail_bot_hr/__manifest__.py
  addons/mail_bot_hr/demo/demo.xml
  addons/mail_bot_hr/models/__init__.py
  addons/mail_bot_hr/models/res_users.py
  addons/mail_bot_hr/static/src/js/notification_alert.js
  addons/mail_bot_hr/views/assets.xml
  addons/mail_bot_hr/views/res_users_views.xml
  addons/mail_bot_hr/views/templates.xml
Owners: @odoo/rd-discuss
