Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security

[IMP] website: improvement regarding social image
  addons/website/controllers/main.py
  addons/website/models/mixins.py
  addons/website/models/website.py
  addons/website/static/src/js/menu/seo.js
  addons/website/views/res_config_settings_views.xml
Owners: none

[IMP] lunch: add list view for lunch.product.report
  addons/lunch/__manifest__.py
  addons/lunch/report/lunch_product_report.py
  addons/lunch/static/src/js/lunch_controller_common.js
  addons/lunch/static/src/js/lunch_kanban_controller.js
  addons/lunch/static/src/js/lunch_kanban_renderer.js
  addons/lunch/static/src/js/lunch_list_controller.js
  addons/lunch/static/src/js/lunch_list_renderer.js
  addons/lunch/static/src/js/lunch_list_view.js
  addons/lunch/static/src/js/lunch_mobile.js
  addons/lunch/static/src/js/lunch_model.js
  addons/lunch/static/src/js/lunch_widget.js
  addons/lunch/static/src/scss/lunch_kanban.scss
  addons/lunch/static/src/scss/lunch_list.scss
  addons/lunch/static/src/scss/lunch_view.scss
  addons/lunch/static/src/xml/lunch_templates.xml
  addons/lunch/static/tests/lunch_kanban_mobile_tests.js
  addons/lunch/static/tests/lunch_kanban_tests.js
  addons/lunch/static/tests/lunch_list_tests.js
  addons/lunch/static/tests/lunch_test_utils.js
  addons/lunch/tests/test_product_report.py
  addons/lunch/views/lunch_product_views.xml
  addons/lunch/views/lunch_templates.xml
Owners: none

[REF] ir.autovacuum: declarative garbage collector registration
  addons/bus/models/__init__.py
  addons/bus/models/bus.py
  addons/bus/models/ir_autovacuum.py
  addons/event/models/__init__.py
  addons/event/models/event_event.py
  addons/event/models/ir_autovacuum.py
  addons/im_livechat/models/__init__.py
  addons/im_livechat/models/ir_autovacuum.py
  addons/im_livechat/models/mail_channel.py
  addons/mail/models/__init__.py
  addons/mail/models/ir_autovacuum.py
  addons/mail/models/mail_thread.py
  addons/mail/wizard/mail_compose_message.py
  addons/pos_mercury/models/pos_mercury.py
  addons/pos_mercury/models/pos_mercury_transaction.py
  addons/website_sale_coupon/models/__init__.py
  addons/website_sale_coupon/models/ir_autovacuum.py
  addons/website_sale_coupon/models/sale_order.py
  addons/website_sale_wishlist/models/__init__.py
  addons/website_sale_wishlist/models/ir_autovacuum.py
  addons/website_sale_wishlist/models/product_wishlist.py
  odoo/addons/base/models/ir_attachment.py
  odoo/addons/base/models/ir_autovacuum.py
  odoo/models.py
Owners: @odoo/rd-discuss, @odoo/rd-images

[IMP] calendar: add template selection on reminders
  addons/calendar/__manifest__.py
  addons/calendar/models/calendar.py
  addons/calendar/security/ir.model.access.csv
  addons/calendar/views/calendar_views.xml
  addons/calendar/wizard/calendar_alarm_test.py
  addons/calendar/wizard/calendar_alarm_test_views.xml
  addons/calendar_sms/__init__.py
  addons/calendar_sms/__manifest__.py
  addons/calendar_sms/models/calendar.py
  addons/calendar_sms/security/calendar_sms_security.xml
  addons/calendar_sms/security/ir.model.access.csv
  addons/calendar_sms/views/calendar_views.xml
  addons/calendar_sms/wizard/__init__.py
  addons/calendar_sms/wizard/calendar_alarm_test.py
Owners: none

Start REF actionmanager
  addons/web/static/src/js/chrome/action.js
  addons/web/static/src/js/chrome/action_manager.js
  addons/web/static/src/js/chrome/action_manager_act_window.js
  addons/web/static/src/js/chrome/web_client.js
  addons/web/static/src/xml/base.xml
  addons/web/static/tests/chrome/action_manager_tests.js
Owners: none

[FIX] web: many2many_tags_email widget have 40 records limit issue
  addons/web/static/src/js/fields/relational_fields.js
  addons/web/static/src/js/views/basic/basic_view.js
  addons/web/static/src/js/views/form/form_view.js
Owners: none

[IMP] added country to din address + css improvments
  addons/l10n_de/report/din5008_report.xml
  addons/l10n_de/static/src/scss/report_din5008.scss
Owners: none

[IMP] stock: add constraint on orderpoint
  addons/stock/models/stock_orderpoint.py
Owners: none

[IMP] website_profile: use badge level image as default badge image
  addons/website_profile/views/website_profile.xml
Owners: none

[IMP] website_slides: force duration to be positive in upload slide widget
  addons/website_slides/static/src/xml/website_slides_upload.xml
Owners: none

[IMP] website_slides,_survey: allow certification creation at frontend
  addons/website_slides/static/src/js/slides_upload.js
  addons/website_slides_survey/__manifest__.py
  addons/website_slides_survey/controllers/main.py
  addons/website_slides_survey/security/website_slides_survey_security.xml
  addons/website_slides_survey/static/src/js/slides_certification_upload_toast.js
  addons/website_slides_survey/static/src/js/slides_upload.js
  addons/website_slides_survey/static/src/xml/website_slide_upload.xml
  addons/website_slides_survey/views/assets.xml
  addons/website_slides_survey/views/website_slides_templates_course.xml
Owners: none

[FIX] website_slides: add access rules file to manifest
  addons/website_slides_survey/__manifest__.py
Owners: none

[IMP] website_slides: clean slide upload widget and controller code
  addons/website_slides/controllers/main.py
  addons/website_slides/static/src/js/slides_upload.js
Owners: none

minor changes
  addons/l10n_vn_viettel/models/account_move.py
  addons/l10n_vn_viettel/views/account_move_views.xml
Owners: none

Unksip unexistent controller + FIX
  addons/web/static/src/js/chrome/action_manager_act_window.js
  addons/web/static/tests/chrome/action_manager_tests.js
Owners: none

[IMP] website: remove the old color palette *re*generation
  addons/website/static/src/js/editor/snippets.options.js
Owners: none

[IMP] website, *: introduce new classes to color snippets
  addons/web/static/src/scss/bs_mixins_overrides.scss
  addons/web_editor/static/src/scss/secondary_variables.scss
  addons/web_editor/static/src/scss/web_editor.common.scss
  addons/web_editor/static/src/scss/web_editor.variables.scss
  addons/website/views/snippets/snippets.xml
Owners: none

[REF] web_editor: do not suggest old color names for btn styles anymore
  addons/web_editor/static/src/js/wysiwyg/widgets/link_dialog.js
  addons/web_editor/static/src/xml/wysiwyg.xml
Owners: none

working poc, finally
  addons/bus/static/src/js/longpolling_bus.js
  addons/im_livechat/static/src/owl/livechat_main.js
  addons/im_livechat/views/im_livechat_channel_templates.xml
  addons/mail/static/src/owl/store/messaging_actions.js
  addons/mail/static/src/owl/store/messaging_getters.js
  addons/web/static/src/js/common_env.js
  addons/web/static/src/js/env.js
  addons/web/static/src/js/public/public_env.js
  addons/web/static/src/js/public/public_root.js
  addons/web/views/webclient_templates.xml
Owners: @odoo/rd-discuss

[TOREMOVE] update owl to unofficial release
  addons/web/static/lib/owl/owl.js
Owners: none

Unksip unexistent controller + FIX
  addons/web/static/src/js/chrome/action_manager_act_window.js
Owners: none

[IMP] web: add testUtils.owlCompatibilityExtraNextTick
  addons/web/static/tests/helpers/test_utils_async.js
Owners: none

Start REF actionmanager
  addons/web/static/src/js/chrome/action.js
  addons/web/static/src/js/chrome/action_manager.js
  addons/web/static/src/js/chrome/action_manager_act_window.js
  addons/web/static/src/js/chrome/web_client.js
  addons/web/static/src/xml/base.xml
  addons/web/static/tests/chrome/action_manager_tests.js
Owners: none

[FIX] web: report client action: mount control panel
  addons/web/static/src/js/report/client_action.js
  addons/web/static/tests/chrome/action_manager_tests.js
Owners: none

[FIX] do not deploy services in tests
  addons/web/static/src/js/chrome/abstract_web_client.js
  addons/web/static/tests/main_tests.js
  addons/web/views/webclient_templates.xml
Owners: none

[IMP] web: ComponentAdapter: add ref to Component
  addons/web/static/src/js/owl_compatibility.js
Owners: none

[IMP] web: add modal-header ref
  addons/web/static/src/js/core/owl_dialog.js
  addons/web/static/src/xml/base.xml
Owners: none

[POSTREBASE] addMockEnvironment is now async
  addons/calendar/static/tests/systray_activity_menu_tests.js
  addons/hr_attendance/static/tests/hr_attendance_tests.js
  addons/im_livechat/static/tests/website_livechat_window_tests.js
  addons/mail/static/tests/helpers/test_utils.js
  addons/mail/static/tests/mail_status_manager_tests.js
  addons/mail/static/tests/models/cc_throttle_function_tests.js
  addons/mail/static/tests/systray/systray_activity_menu_tests.js
  addons/mail/static/tests/thread_window/basic_thread_window_tests.js
  addons/mail/static/tests/thread_window/blank_thread_window_tests.js
  addons/mail/static/tests/thread_window/hidden_thread_window_tests.js
  addons/mail/static/tests/thread_window/moderation_thread_window_tests.js
  addons/mail/static/tests/thread_window/typing_thread_window_tests.js
  addons/note/static/tests/systray_activity_menu_tests.js
  addons/web/static/tests/chrome/keyboard_navigation_mixin_tests.js
  addons/web/static/tests/core/widget_tests.js
  addons/web/static/tests/fields/relational_fields/field_many2one_tests.js
  addons/web/static/tests/helpers/test_utils_create.js
  addons/web/static/tests/owl_compatibility_tests.js
  addons/web/static/tests/views/basic_model_tests.js
  addons/web/static/tests/views/kanban_model_tests.js
  addons/web/static/tests/widgets/domain_selector_tests.js
  addons/web/static/tests/widgets/model_field_selector_tests.js
Owners: @odoo/rd-discuss

[POSTREBASE] add owlCompatibilityNextTick when necessary
  addons/mail/static/tests/activity_tests.js
  addons/mail/static/tests/tools/debug_manager_tests.js
  addons/web/static/tests/chrome/action_manager_tests.js
  addons/web/static/tests/chrome/menu_tests.js
  addons/web/static/tests/chrome/web_client_tests.js
  addons/web/static/tests/helpers/test_utils_action_manager.js
  addons/web/static/tests/helpers/test_utils_control_panel.js
  addons/web/static/tests/tools/debug_manager_tests.js
  addons/web/static/tests/views/form_tests.js
  addons/web/static/tests/views/list_tests.js
  addons/web/static/tests/views/qweb_tests.js
  addons/web/static/tests/views/search_panel_tests.js
  odoo/addons/base/static/tests/base_settings_tests.js
Owners: @odoo/rd-discuss

[POSTREBASE] messaging service rpcs order changed
  addons/im_support/static/tests/systray_tests.js
Owners: @odoo/rd-discuss

[POSTREBASE] mocked env in tests
  addons/mail/static/tests/discuss_tests.js
  addons/mail/static/tests/helpers/test_utils.js
  addons/web/static/tests/components/action_menus_tests.js
  addons/web/static/tests/components/custom_file_input_tests.js
  addons/web/static/tests/control_panel/custom_filter_item_tests.js
  addons/web/static/tests/control_panel/favorite_menu_tests.js
  addons/web/static/tests/views/pivot_tests.js
  addons/web/static/tests/views/view_dialogs_tests.js
Owners: @odoo/rd-discuss

[POSTREBASE] adapt new tests added
  addons/web/static/tests/chrome/action_manager_tests.js
  addons/web/static/tests/control_panel/search_bar_tests.js
Owners: none

[POSTREBASE] fix helpers
  addons/web/static/tests/helpers/test_utils_create.js
  addons/web/static/tests/helpers/test_utils_mock.js
  addons/web/static/tests/views/view_dialogs_tests.js
Owners: none

[IMP] web_editor: allow color combinations specific override and access
  addons/web_editor/static/src/scss/secondary_variables.scss
  addons/web_editor/static/src/scss/web_editor.common.scss
Owners: none

[IMP] website, web: allow to choose website font-size
  addons/web/static/src/scss/bootstrap_overridden_frontend.scss
  addons/web/static/src/scss/primary_variables.scss
  addons/website/static/src/scss/bootstrap_overridden.scss
  addons/website/static/src/scss/primary_variables.scss
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] website: add a demo page to test color combinations
  addons/website/data/website_demo.xml
Owners: none

[IMP] web_editor, website: use new color names
  addons/web_editor/static/src/js/wysiwyg/widgets/color_palette.js
  addons/web_editor/static/src/scss/13_0_color_system_support_primary_variables.scss
  addons/web_editor/static/src/scss/secondary_variables.scss
  addons/web_editor/static/src/scss/web_editor.backend.scss
  addons/web_editor/static/src/scss/web_editor.common.scss
  addons/web_editor/static/src/scss/web_editor.variables.scss
  addons/web_editor/static/tests/field_html_tests.js
  addons/web_editor/static/tests/test_utils.js
  addons/web_editor/views/editor.xml
  addons/website/data/website_demo.xml
  addons/website/static/src/js/editor/snippets.options.js
  addons/website/static/src/scss/secondary_variables.scss
  addons/website/static/src/scss/website.scss
  addons/website/static/src/snippets/s_chart/options.js
  addons/website/views/snippets/s_badge.xml
  addons/website/views/snippets/s_comparisons.xml
  addons/website/views/snippets/s_features.xml
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] web_editor, *: integrate new o_cc${xxx} classes in the colorpicker
  addons/web_editor/static/src/js/editor/snippets.options.js
  addons/web_editor/static/src/js/wysiwyg/widgets/color_palette.js
  addons/web_editor/static/src/scss/wysiwyg_snippets.scss
  addons/web_editor/static/src/xml/snippets.xml
  addons/website/static/src/scss/website.wysiwyg.scss
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] web_editor, website: allow presets user edition
  addons/web_editor/static/src/scss/web_editor.common.scss
  addons/web_editor/static/src/scss/wysiwyg_snippets.scss
  addons/web_editor/static/src/xml/snippets.xml
  addons/website/static/src/js/editor/snippets.options.js
  addons/website/static/src/xml/website.editor.xml
  addons/website/views/snippets/snippets.xml
Owners: none

[IMP] website: add link decoration option, underline by default
  addons/website/static/src/scss/bootstrap_overridden.scss
  addons/website/static/src/scss/primary_variables.scss
  addons/website/views/snippets/snippets.xml
Owners: none
