Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security

[REV] hr_expense: revert conversion of onchange to constraint
  addons/hr_expense/models/hr_expense.py
Owners: none

[REF] sale_expense: add copy=True to computed fields converted from onchange
  addons/sale_expense/models/hr_expense.py
Owners: none

[IMP] sale_expense: remove ugly assignments (x = x)
  addons/sale_expense/models/hr_expense.py
Owners: none

[REF] sale_expense: update a depends and a test
  addons/sale_expense/models/hr_expense.py
  addons/sale_expense/tests/test_reinvoice.py
Owners: none

[REF] hr_expense: convert onchange raising an error to constraint
  addons/hr_expense/models/hr_expense.py
Owners: none

[IMP] hr_contract: remove duplicated copy=True during rebase
  addons/hr_contract/models/hr_contract.py
Owners: none

[IMP] survey: auto submit for questions and matrix with simple choice
  addons/survey/static/src/js/survey_form.js
  addons/survey/views/survey_templates.xml
Owners: none

[IMP] sale_management: remove price_unit from quotation template
  addons/sale_management/data/sale_order_template_demo.xml
  addons/sale_management/models/sale_order.py
  addons/sale_management/models/sale_order_template.py
  addons/sale_management/views/sale_order_template_views.xml
  addons/sale_quotation_builder/views/sale_order_template_views.xml
Owners: none

[IMP] sale_management: remove price_unit from quotation template
  addons/sale_management/models/sale_order.py
Owners: none

[IMP] sale_management: remove price_unit from quotation template
  addons/sale_management/tests/__init__.py
  addons/sale_management/tests/test_sale_order.py
Owners: none

REF process menu to override
  addons/web/static/src/js/chrome/web_client.js
Owners: none

PERF TEST
  addons/sale_stock/tests/__init__.py
  addons/sale_stock/tests/test_create_perf.py
Owners: none

[Fix] Display event registration in edit mode
  addons/website_event/static/src/js/website_event.js
Owners: none

[REF] crm(_iap_lead): use read_group instead of computing len of o2many fields
  addons/crm/models/res_partner.py
  addons/crm_iap_lead/models/crm_iap_lead_mining_request.py
Owners: none

[IMP] crm_iap_lead: improve field naming
  addons/crm_iap_lead/models/crm_iap_lead_mining_request.py
Owners: none

[IMP] link_tracker: use read_group to compute tracker clicks number.
  addons/link_tracker/models/link_tracker.py
  addons/mass_mailing/models/mailing.py
  addons/mass_mailing/models/utm.py
Owners: none

[IMP] hr_recruitment: improve meeting count performance.
  addons/hr_recruitment/models/calendar.py
  addons/hr_recruitment/models/hr_recruitment.py
Owners: none

[IMP] website_forum: improve forum.post child_count performance.
  addons/website_forum/models/forum.py
Owners: none

[IMP] sale_timesheet: small improvements for the reporting
  addons/sale_timesheet/models/project_overview.py
  addons/sale_timesheet/report/project_profitability_report_analysis.py
  addons/sale_timesheet/report/project_profitability_report_analysis_views.xml
  addons/sale_timesheet/views/hr_timesheet_templates.xml
Owners: none

bodyClass
  addons/web/static/src/js/chrome/web_client.js
  addons/web/static/src/xml/base.xml
Owners: none

Render if promise return true on hash change => handles the case where override of webclient doesn't do stuff
  addons/web/static/src/js/chrome/web_client.js
Owners: none

wip
  addons/im_livechat/models/mail_channel.py
  addons/im_livechat/static/src/js/im_livechat.js
  addons/im_livechat/static/src/js/website_livechat_window.js
  addons/im_livechat/static/src/owl/components/livechat_button/livechat_button.js
  addons/im_livechat/static/src/owl/components/livechat_button/livechat_button.scss
  addons/im_livechat/static/src/owl/components/livechat_manager/livechat_manager.scss
  addons/im_livechat/static/src/owl/livechat_main.js
  addons/im_livechat/static/src/scss/im_livechat_bootstrap.scss
  addons/im_livechat/static/tests/website_livechat_window_tests.js
  addons/im_livechat/views/im_livechat_channel_templates.xml
  addons/mail/static/src/owl/components/chat_window/chat_window.scss
  addons/mail/static/src/owl/components/chat_window_header/chat_window_header.js
  addons/mail/static/src/owl/components/chat_window_header/chat_window_header.xml
  addons/mail/static/src/owl/components/composer/composer.xml
  addons/mail/static/src/owl/components/discuss/discuss.scss
  addons/mail/static/src/owl/components/message/message.js
  addons/mail/static/src/owl/components/message/message.scss
  addons/mail/static/src/owl/components/message/message.xml
  addons/mail/static/src/owl/components/message_list/message_list.scss
  addons/mail/static/src/owl/components/message_list/message_list.xml
  addons/mail/static/src/owl/components/thread_preview/thread_preview.xml
  addons/mail/static/src/owl/messaging_env.js
  addons/mail/static/src/owl/store/messaging_actions.js
  addons/mail/static/src/owl/store/messaging_getters.js
  addons/mail/static/src/owl/store/messaging_state.js
  addons/mail/static/src/owl/tribute_custom.scss
  addons/mail/views/mail_templates.xml
Owners: @odoo/rd-discuss

update message_fetch to get rating stats and update rating card
  addons/portal/static/src/js/portal_chatter.js
  addons/portal_rating/static/src/js/portal_chatter.js
Owners: @odoo/rd-images

update show error if message and attachment are empty
  addons/portal/static/src/js/portal_composer.js
  addons/portal/static/src/xml/portal_chatter.xml
Owners: @odoo/rd-images

[IMP] base: remove read access to ir.ui.view
  odoo/addons/base/security/ir.model.access.csv
Owners: none

[IMP] website: restrict ACL on website.page
  addons/website/models/website.py
  addons/website/security/ir.model.access.csv
Owners: none

[FIX] *: add sudo when retrieving view content
  addons/web_editor/models/ir_qweb.py
  addons/website/models/website.py
  odoo/addons/base/models/ir_actions_report.py
  odoo/addons/base/models/ir_qweb.py
  odoo/addons/base/models/ir_ui_view.py
  odoo/models.py
Owners: none

[IMP] website: remove sudo
  addons/website/controllers/main.py
Owners: none

make render(_template) private
  addons/account/controllers/onboarding.py
  addons/account_facturx/models/account_move.py
  addons/calendar/controllers/main.py
  addons/hr_expense/models/hr_expense.py
  addons/http_routing/models/ir_http.py
  addons/im_livechat/models/im_livechat_channel.py
  addons/im_livechat/models/mail_channel.py
  addons/mail/models/mail_activity.py
  addons/mail/models/mail_channel.py
  addons/mail/models/mail_message.py
  addons/mail/models/mail_template.py
  addons/mail/models/mail_thread.py
  addons/mass_mailing/wizard/mail_compose_message.py
  addons/mrp/models/mrp_production.py
  addons/rating/controllers/main.py
  addons/sale_product_configurator/controllers/main.py
  addons/survey/wizard/survey_invite.py
  addons/web_editor/models/ir_ui_view.py
  addons/website/controllers/main.py
  addons/website/models/ir_http.py
  addons/website/models/ir_ui_view.py
  addons/website/models/website_menu.py
  addons/website/tests/test_views.py
  odoo/addons/base/models/ir_actions_report.py
  odoo/addons/base/models/ir_qweb.py
  odoo/addons/base/models/ir_ui_view.py
  odoo/addons/base/models/qweb.py
  odoo/addons/base/tests/test_qweb.py
  odoo/http.py
Owners: @odoo/rd-discuss, @odoo/rd-security

migrate public render_template to specific render_public_asset method
  addons/web/static/src/js/core/ajax.js
  addons/web_editor/models/ir_ui_view.py
  addons/website/models/ir_ui_view.py
  odoo/addons/base/models/ir_ui_view.py
Owners: none

use private _render_template method
  addons/stock/report/stock_traceability.py
  addons/website_event/controllers/main.py
  addons/website_mass_mailing/models/website_mass_mailing.py
  addons/website_sale/controllers/main.py
  addons/website_sale/controllers/variant.py
  addons/website_sale_comparison/controllers/main.py
  odoo/addons/base/models/ir_actions_report.py
  odoo/addons/test_assetsbundle/controllers/main.py
  odoo/addons/test_assetsbundle/tests/test_assetsbundle.py
Owners: none

give read access to views to publisher
  addons/website/security/ir.model.access.csv
Owners: none

render -> _render
  addons/payment/models/payment_acquirer.py
  addons/sale/controllers/onboarding.py
  addons/sale_stock/models/sale_order.py
  addons/survey/controllers/main.py
  addons/website_blog/controllers/main.py
  addons/website_hr_recruitment/models/hr_recruitment.py
  addons/website_slides/wizard/slide_channel_invite.py
Owners: none

[REM] website: remove lazy template call
  addons/website/controllers/main.py
  addons/website/static/src/js/content/lazy_template_call.js
  addons/website/views/assets.xml
Owners: none

make enumerate_pages private
  addons/website/controllers/main.py
  addons/website/models/website.py
Owners: none

use private _render on ir.qweb too
  addons/account/models/account_bank_statement.py
  addons/hr/tests/test_multi_company.py
  addons/iap/models/iap.py
  addons/l10n_ch/models/mail_template.py
  addons/l10n_it_edi/models/account_invoice.py
  addons/lunch/controllers/main.py
  addons/mail/models/mail_template.py
  addons/mrp/report/mrp_report_bom_structure.py
  addons/point_of_sale/controllers/main.py
  addons/point_of_sale/models/pos_config.py
  addons/point_of_sale/models/pos_order.py
  addons/portal/controllers/portal.py
  addons/pos_mercury/models/pos_mercury_transaction.py
  addons/product/report/product_pricelist_report.py
  addons/purchase_stock/models/purchase.py
  addons/sale/controllers/portal.py
  addons/sale_stock/controllers/portal.py
  addons/sale_stock/models/stock.py
  addons/snailmail/models/snailmail_letter.py
  addons/stock/models/stock_picking.py
  addons/stock/report/stock_traceability.py
  addons/stock/tests/test_report.py
  addons/survey/controllers/main.py
  addons/web/controllers/main.py
  addons/web/models/models.py
  addons/web_editor/tests/test_converter.py
  addons/website/tests/test_qweb.py
  addons/website_mail_channel/controllers/main.py
  addons/website_sale/controllers/main.py
  addons/website_slides/controllers/main.py
  odoo/addons/base/models/ir_actions_report.py
  odoo/addons/base/models/ir_qweb.py
  odoo/addons/base/models/ir_qweb_fields.py
  odoo/addons/base/models/ir_ui_view.py
  odoo/addons/base/models/qweb.py
  odoo/addons/base/tests/test_qweb.py
  odoo/addons/base/tests/test_reports.py
  odoo/addons/base/tests/test_views.py
  odoo/addons/base/wizard/base_document_layout.py
  odoo/tools/test_reports.py
Owners: @odoo/rd-discuss, @odoo/rd-images, @odoo/rd-security

add warning for debugging
  addons/website/controllers/main.py
Owners: none

use private _read_template method
  odoo/addons/base/models/ir_qweb.py
Owners: none

make activity method private
  addons/event_sale/models/event_registration.py
  addons/mail/models/mail_activity.py
  addons/sale_purchase/models/purchase_order.py
  addons/sale_purchase/models/sale_order.py
Owners: @odoo/rd-discuss

unify pbulic render_template and render_public_asset
  addons/web_editor/static/src/js/editor/snippets.editor.js
  addons/web_editor/static/tests/test_utils.js
  addons/website/models/ir_ui_view.py
  odoo/addons/base/models/ir_ui_view.py
Owners: none
