Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security

Factor cancel fiber in for WC extends
  addons/web/static/src/js/chrome/menu.js
  addons/web/static/src/js/chrome/web_client.js
Owners: none

[FIX] website_event: Ordering more tickets than available seats
  addons/website_event/controllers/main.py
  addons/website_event/i18n/website_event.pot
  addons/website_event/views/event_templates.xml
  addons/website_event_sale/views/event_templates.xml
Owners: none

[FIX] web: fix big colleague face
  addons/web/static/src/js/libs/zoomodoo.js
Owners: none

[FIX] web: blank line added before data rows
  addons/web/static/src/js/views/list/list_editable_renderer.js
  addons/web/static/tests/views/list_tests.js
Owners: none

[IMP] mass_mailing: utilzie available space for mass mail edition
  addons/mass_mailing/static/src/scss/mass_mailing.scss
  addons/mass_mailing/static/src/scss/mass_mailing.ui.scss
Owners: none

[IMP] web: remove unused scss variables related to mass mailing
  addons/web/static/src/scss/primary_variables.scss
  addons/web/static/src/scss/secondary_variables.scss
Owners: none

[IMP] web: improve icon position while switching views in mobile.
  addons/web/static/src/js/views/control_panel/mobile_control_panel_renderer.js
Owners: none

FIX state
  addons/web/static/src/js/chrome/web_client.js
Owners: none

UpdateState action
  addons/web/static/src/js/chrome/web_client.js
Owners: none

update
  addons/website/views/snippets/s_share.xml
Owners: none

[FIX] website_blog: fix the share content popover widget
  addons/website_blog/static/src/js/contentshare.js
Owners: none

[FIX] base_vat: skip compacting if not vat of the country
  addons/base_vat/models/res_partner.py
  addons/base_vat/tests/test_validate_ruc.py
Owners: none

SwittchController LoadState
  addons/web/static/src/js/action_manager/action_plugins/window_action_plugin.js
Owners: none

more wip
  addons/im_livechat/controllers/main.py
  addons/im_livechat/models/im_livechat_channel.py
  addons/im_livechat/models/mail_channel.py
  addons/im_livechat/models/res_partner.py
  addons/im_livechat/static/src/js/im_livechat.js
  addons/im_livechat/static/src/js/website_livechat_window.js
  addons/im_livechat/static/src/owl/components/notification_list/notification_list.js
  addons/im_livechat/static/src/owl/livechat_public_main.js
  addons/im_livechat/views/im_livechat_channel_templates.xml
  addons/mail/static/src/owl/components/discuss/discuss.js
  addons/mail/static/src/owl/components/discuss/discuss.xml
  addons/mail/static/src/owl/store/messaging_getters.js
Owners: @odoo/rd-discuss

[I18N] l10n_fr_fec: export source terms
  addons/l10n_fr_fec/i18n/fr.po
  addons/l10n_fr_fec/i18n/l10n_fr_fec.pot
  addons/mass_mailing/i18n/fr_BE.po
Owners: none

[ADD] i18n_server: server to serve and test translation packs
  addons/i18n_server/__init__.py
  addons/i18n_server/__manifest__.py
  addons/i18n_server/controllers/__init__.py
  addons/i18n_server/controllers/main.py
  addons/i18n_server/data/cron.xml
  addons/i18n_server/i18n/i18n_server.pot
  addons/i18n_server/i18n/tlh.po
  addons/i18n_server/models/__init__.py
  addons/i18n_server/models/language_pack.py
  addons/i18n_server/security/ir.model.access.csv
  addons/i18n_server/tests/__init__.py
  addons/i18n_server/tests/test_import.py
  addons/i18n_server/views/i18n_views.xml
  addons/i18n_server/views/server_templates.xml
Owners: none

[ADD] base: fetch translations online
  .gitignore
  odoo/addons/base/data/res_company_demo.xml
  odoo/addons/base/models/ir_module.py
  odoo/addons/base/models/ir_translation.py
  odoo/addons/base/models/res_lang.py
  odoo/addons/base/tests/test_translate.py
  odoo/addons/base/wizard/base_import_language.py
  odoo/addons/base/wizard/base_language_install.py
  odoo/addons/base/wizard/base_language_install_views.xml
  odoo/addons/base/wizard/base_update_translations.py
  odoo/addons/test_translation_import/tests/test_term_count.py
  odoo/modules/loading.py
  odoo/service/db.py
  odoo/tools/translate.py
Owners: @odoo/rd-images, @odoo/rd-security

use getmembers and comments
  odoo/addons/base/models/ir_module.py
  odoo/addons/base/models/res_lang.py
Owners: none

reading po files != generate ir.translation
  odoo/addons/base/data/res_company_demo.xml
  odoo/addons/base/models/ir_module.py
  odoo/addons/base/models/ir_translation.py
  odoo/addons/base/models/res_lang.py
  odoo/addons/base/wizard/base_import_language.py
  odoo/addons/test_new_api/tests/test_ui.py
  odoo/addons/test_translation_import/tests/test_term_count.py
  odoo/cli/server.py
  odoo/tools/translate.py
Owners: @odoo/rd-images, @odoo/rd-security

imp: overwrite should be set to transfer, not import cursor
  odoo/addons/base/models/ir_module.py
  odoo/addons/base/models/ir_translation.py
  odoo/addons/base/wizard/base_import_language.py
  odoo/addons/test_translation_import/tests/test_term_count.py
  odoo/tools/translate.py
Owners: @odoo/rd-images, @odoo/rd-security

[IMP] base: add button to download pack
  odoo/addons/base/models/res_lang.py
  odoo/addons/base/views/res_lang_views.xml
Owners: none

"resolve" todo
  odoo/addons/base/models/ir_module.py
Owners: none

apply todo, thanks itertools
  odoo/addons/base/models/res_lang.py
Owners: none

apply todo move code
  odoo/addons/base/models/ir_translation.py
  odoo/tools/translate.py
Owners: @odoo/rd-images, @odoo/rd-security

move tests.PORT
  addons/i18n_server/tests/test_import.py
Owners: none

chatter long section
  addons/mail/static/src/owl/components/chatter/chatter.scss
  addons/mail/static/src/owl/components/chatter_topbar/chatter_topbar.scss
  addons/mail/static/src/owl/components/chatter_topbar/chatter_topbar.xml
Owners: @odoo/rd-discuss

Fix chatter loading text flicker
  addons/mail/static/src/owl/components/thread/thread.xml
  addons/mail/static/src/owl/store/messaging_actions.js
  addons/mail/static/tests/owl/component/chatter_tests.js
  addons/mail/static/tests/owl/component/chatter_topbar_tests.js
Owners: @odoo/rd-discuss

Make Document app work with new chatter integration
  addons/mail/static/src/owl/components/chatter/chatter.scss
  addons/mail/static/src/owl/components/chatter/chatter_component_wrapper.js
  addons/mail/static/src/owl/store/messaging_actions.js
  addons/mail/views/mail_templates.xml
Owners: @odoo/rd-discuss

Load messagingTestUtils in mobile too. Wait chatter to be rendered in documents kanban view
  addons/mail/views/mail_templates.xml
Owners: @odoo/rd-discuss

Seb's review
  addons/mail/static/src/owl/components/chatter/chatter.scss
  addons/mail/static/src/owl/components/chatter/chatter_component_wrapper.js
  addons/mail/static/src/owl/components/chatter_topbar/chatter_topbar.scss
Owners: @odoo/rd-discuss

cancelling renderingInfo
  addons/web/static/src/js/chrome/web_client.js
Owners: none

[FIX] survey: correctly handle "free text sections" in survey sessions
  addons/survey/static/src/js/survey_form.js
  addons/survey/views/survey_templates.xml
  addons/survey/views/survey_templates_user_input_session.xml
Owners: none

Replace unbreakable spaces by regular spaces
  addons/mail/static/src/owl/components/chatter/chatter.js
  addons/mail/static/src/owl/components/composer/composer.scss
Owners: @odoo/rd-discuss

Handle followers menu
  addons/mail/__manifest__.py
  addons/mail/static/src/owl/components/follower/follower.js
  addons/mail/static/src/owl/components/follower/follower.xml
  addons/mail/static/src/owl/components/follower_subtype/follower_subtype.js
  addons/mail/static/src/owl/components/follower_subtype/follower_subtype.scss
  addons/mail/static/src/owl/components/follower_subtype/follower_subtype.xml
  addons/mail/static/src/owl/components/follower_subtypes_edit_dialog/follower_subtypes_edit_dialog.js
  addons/mail/static/src/owl/components/follower_subtypes_edit_dialog/follower_subtypes_edit_dialog.scss
  addons/mail/static/src/owl/components/follower_subtypes_edit_dialog/follower_subtypes_edit_dialog.xml
  addons/mail/static/src/owl/components/followers_menu/followers_menu.js
  addons/mail/static/src/owl/components/followers_menu/followers_menu.xml
  addons/mail/static/src/owl/store/messaging_actions.js
  addons/mail/views/mail_templates.xml
Owners: @odoo/rd-discuss

First attempt for dialog with owl dialog --> does not totally work as dropdown is destroyed as soon as we click somewhere else
  addons/mail/__manifest__.py
  addons/mail/static/src/owl/components/follower/follower.js
  addons/mail/static/src/owl/components/follower/follower.xml
  addons/mail/static/src/owl/components/follower_subtypes_edit_dialog/follower_subtypes_edit_dialog.js
  addons/mail/static/src/owl/components/follower_subtypes_edit_dialog/follower_subtypes_edit_dialog.xml
  addons/mail/views/mail_templates.xml
Owners: @odoo/rd-discuss

Handle follow & unfollow operations SCSS reorder
  addons/mail/static/src/owl/components/follower_subtype/follower_subtype.scss
  addons/mail/static/src/owl/components/followers_menu/followers_menu.js
  addons/mail/static/src/owl/components/followers_menu/followers_menu.scss
  addons/mail/static/src/owl/components/followers_menu/followers_menu.xml
  addons/mail/static/src/owl/store/messaging_actions.js
Owners: @odoo/rd-discuss

Renamed boolean hasDropdown state
  addons/mail/static/src/owl/components/followers_menu/followers_menu.js
  addons/mail/static/src/owl/components/followers_menu/followers_menu.xml
Owners: @odoo/rd-discuss

Remove useless and confusing local variable
  addons/mail/static/src/owl/components/activity_box/activity_box.js
Owners: @odoo/rd-discuss

First step of followers menu
  addons/mail/__manifest__.py
  addons/mail/static/src/js/form_renderer.js
  addons/mail/static/src/owl/components/chatter_topbar/chatter_topbar.js
  addons/mail/static/src/owl/components/chatter_topbar/chatter_topbar.xml
  addons/mail/static/src/owl/components/follower/follower.js
  addons/mail/static/src/owl/components/follower/follower.scss
  addons/mail/static/src/owl/components/follower/follower.xml
  addons/mail/static/src/owl/components/followers_menu/followers_menu.js
  addons/mail/static/src/owl/components/followers_menu/followers_menu.scss
  addons/mail/static/src/owl/components/followers_menu/followers_menu.xml
  addons/mail/static/src/owl/store/messaging_actions.js
  addons/mail/static/src/owl/store/messaging_getters.js
  addons/mail/static/src/owl/store/messaging_state.js
  addons/mail/views/mail_templates.xml
Owners: @odoo/rd-discuss

Fix tests following followers implementation
  addons/mail/static/tests/owl/component/chatter_topbar_tests.js
  addons/mail/static/tests/owl/store/messaging_state_tests.js
Owners: @odoo/rd-discuss
