Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

[IMP] web: add custom action on many2one
  addons/web/static/src/js/fields/relational_fields.js
  addons/web/static/tests/fields/relational_fields/field_many2one_tests.js
Owners: none

[DEMO] project: open project kanban instead of form view
  addons/project/views/project_views.xml
Owners: none

[IMP] website_event_questions: improve demo data to showcase 'free_text' questions
  addons/website_event_questions/data/event_question_demo.xml
  addons/website_event_questions/data/event_registration_demo.xml
Owners: none

[IMP] website_event_questions: allow 'free text' questions
  addons/website_event_questions/__manifest__.py
  addons/website_event_questions/controllers/main.py
  addons/website_event_questions/data/event_question_demo.xml
  addons/website_event_questions/models/event_event.py
  addons/website_event_questions/models/event_question.py
  addons/website_event_questions/models/event_registration.py
  addons/website_event_questions/security/ir.model.access.csv
  addons/website_event_questions/tests/common.py
  addons/website_event_questions/tests/test_event_internals.py
  addons/website_event_questions/views/event_templates.xml
  addons/website_event_questions/views/event_views.xml
Owners: none

[REM] website_event_question: remove unusable questions reporting
  addons/website_event_questions/__init__.py
  addons/website_event_questions/__manifest__.py
  addons/website_event_questions/report/__init__.py
  addons/website_event_questions/report/report_event_question_view.xml
  addons/website_event_questions/report/report_event_registrations_questions.py
  addons/website_event_questions/security/ir.model.access.csv
Owners: none

[IMP] core, base: add tooling to populate database
  odoo/addons/test_populate/__init__.py
  odoo/addons/test_populate/__manifest__.py
  odoo/addons/test_populate/ir.model.access.csv
  odoo/addons/test_populate/models.py
  odoo/addons/test_populate/tests/__init__.py
  odoo/addons/test_populate/tests/test_populate.py
  odoo/cli/__init__.py
  odoo/cli/populate.py
  odoo/models.py
  odoo/tools/config.py
  odoo/tools/populate.py
Owners: @odoo/rd-images, @odoo/rd-security

[IMP] base: populate res.partner and res.company
  odoo/addons/base/__init__.py
  odoo/addons/base/populate/__init__.py
  odoo/addons/base/populate/res_company.py
  odoo/addons/base/populate/res_partner.py
Owners: none

in Progress...
  addons/mass_mailing/data/mass_mailing_demo.xml
  addons/mass_mailing/models/mailing_list.py
  addons/mass_mailing/views/mailing_list_views.xml
  addons/mass_mailing_sms/data/mailing_list_demo.xml
  addons/mass_mailing_sms/models/mailing_list.py
  addons/mass_mailing_sms/views/mailing_list_views.xml
Owners: none

wip
  addons/web_editor/static/src/js/editor/snippets.options.js
Owners: none

add tree list for mailing_list
  addons/mass_mailing/models/mailing_list.py
  addons/mass_mailing/views/mailing_list_views.xml
  addons/mass_mailing_sms/models/mailing_list.py
  addons/mass_mailing_sms/views/mailing_list_views.xml
Owners: none

[ADD] web: add CustomCheckbox owl component
  addons/web/static/src/js/components/custom_checkbox.js
  addons/web/static/src/xml/base.xml
  addons/web/static/tests/components/custom_checkbox_tests.js
  addons/web/views/webclient_templates.xml
Owners: none

[REF] web: add missing features of abstract field
  addons/web/static/src/js/core/utils.js
  addons/web/static/src/js/fields/abstract_field_owl.js
  addons/web/static/src/js/fields/field_wrapper.js
Owners: none

[IMP] website_form: cc field should add known res.partner as followers
  addons/website_form/controllers/main.py
Owners: none

[FIX] sale_timesheet: be able to create fsm projects from sale order
  addons/sale_timesheet/models/sale_order.py
Owners: none

[REF] web: add a new field registry for components
  addons/account/static/src/js/account_resequence_field.js
  addons/web/static/src/js/fields/field_registry.js
  addons/web/static/src/js/fields/field_registry_owl.js
  addons/web/static/src/js/views/basic/basic_view.js
  addons/web/static/src/js/views/calendar/calendar_popover.js
  addons/web/static/src/js/views/form/form_renderer.js
  addons/web/static/src/js/views/list/list_editable_renderer.js
  addons/web/static/tests/views/form_tests.js
  addons/web/views/webclient_templates.xml
Owners: none

[REF] web: convert FieldBoolean to owl
  addons/web/__manifest__.py
  addons/web/static/src/js/_deprecated/basic_fields.js
  addons/web/static/src/js/fields/basic_fields.js
  addons/web/static/src/js/fields/basic_fields_owl.js
  addons/web/static/src/xml/fields.xml
  addons/web/static/tests/fields/basic_fields_tests.js
  addons/web/views/webclient_templates.xml
Owners: none

[FIX] test_new_api: fix tour, autocomplete in modal
  odoo/addons/test_new_api/static/tests/tours/x2many.js
Owners: none

remove structure common to all event
  addons/website_event/views/event_templates.xml
Owners: none

[IMP] website: make editor closer to WYSIWYG
  addons/website/data/website_data.xml
  addons/website/static/src/scss/website.edit_mode.scss
  addons/website_blog/views/website_blog_templates.xml
  addons/website_crm_partner_assign/views/website_crm_partner_assign_templates.xml
  addons/website_customer/views/website_customer_templates.xml
  addons/website_forum/views/website_forum.xml
  addons/website_livechat/views/website_livechat.xml
  addons/website_membership/views/website_membership_templates.xml
  addons/website_sale/views/templates.xml
  addons/website_sale_comparison/views/website_sale_comparison_template.xml
Owners: none

data-editor-message revert
  addons/website/data/website_data.xml
  addons/website_crm_partner_assign/views/website_crm_partner_assign_templates.xml
  addons/website_customer/views/website_customer_templates.xml
  addons/website_event/views/event_templates.xml
  addons/website_forum/views/website_forum.xml
  addons/website_livechat/views/website_livechat.xml
  addons/website_membership/views/website_membership_templates.xml
  addons/website_sale/views/templates.xml
Owners: none

_
  addons/web/static/src/js/public/public_widget.js
  addons/website_event/static/src/js/website_event.js
  addons/website_event/views/event_templates.xml
Owners: none

Remove some code who were causing big drag/drog zone and revert oe_structure_none
  addons/website/static/src/scss/website.edit_mode.scss
Owners: none

removing oe_structure_none
  addons/$
  addons/website/data/website_data.xml
  addons/website/static/src/scss/website.edit_mode.scss
  addons/website_blog/views/website_blog_templates.xml
  addons/website_crm_partner_assign/views/website_crm_partner_assign_templates.xml
  addons/website_customer/views/website_customer_templates.xml
  addons/website_event/views/event_templates.xml
  addons/website_forum/views/website_forum.xml
  addons/website_livechat/views/website_livechat.xml
  addons/website_membership/views/website_membership_templates.xml
Owners: none

cleanup
  addons/web/static/src/js/public/public_widget.js
  addons/website/data/website_data.xml
  addons/website_blog/views/website_blog_templates.xml
  addons/website_crm_partner_assign/views/website_crm_partner_assign_templates.xml
  addons/website_customer/views/website_customer_templates.xml
  addons/website_event/static/src/js/website_event.js
  addons/website_event/views/event_templates.xml
  addons/website_forum/views/website_forum.xml
  addons/website_livechat/views/website_livechat.xml
  addons/website_membership/views/website_membership_templates.xml
  addons/website_sale/views/templates.xml
Owners: none

Normal zone appear only on drag
  addons/website_event/views/event_templates.xml
  addons/website_sale/views/templates.xml
  addons/website_sale_comparison/views/website_sale_comparison_template.xml
Owners: none

oe_structure_small only display small zone on drag
  addons/website/static/src/scss/website.edit_mode.scss
Owners: none

Add a populate model for lunch
  addons/lunch/__init__.py
  addons/lunch/populate/__init__.py
  addons/lunch/populate/lunch.py
  addons/product/populate/__init__.py
  addons/product/populate/product.py
  odoo/addons/base/populate/__init__.py
  odoo/addons/base/populate/res_partner.py
  odoo/addons/base/populate/res_user.py
  odoo/tools/populate.py
Owners: @odoo/rd-images, @odoo/rd-security

[IMP] mail: allow to customize the header of the thread window
  addons/mail/static/src/xml/abstract_thread_window.xml
Owners: @odoo/rd-discuss

[IMP] mail/im_livechat: move the `anonymous_name` from livechat to mail
  addons/im_livechat/models/mail_channel.py
  addons/mail/models/mail_channel.py
Owners: @odoo/rd-discuss

[IMP] http: allow to handle HTTP and JSON requests on the same endpoint
  addons/test_website/controllers/main.py
  addons/test_website/tests/test_controller_args.py
  odoo/http.py
Owners: @odoo/rd-security

[IMP] base: warn the user about standard view modification
  odoo/addons/base/views/ir_ui_view_views.xml
Owners: none

[IMP] purchase_stock: price diff as svl
  addons/purchase/views/product_views.xml
  addons/purchase_stock/models/account_invoice.py
  addons/purchase_stock/models/stock.py
  addons/purchase_stock/tests/test_stockvaluation.py
  addons/stock_account/models/account_move.py
  addons/stock_account/models/stock_move.py
Owners: none

[REM] account: remove nonexistent parameters
  addons/account/models/sequence_mixin.py
Owners: none

[REF] account: _get_next_sequence
  addons/account/models/sequence_mixin.py
Owners: none

to fixup
  addons/mail/static/src/messaging/component/activity_box/activity_box.js
  addons/mail/static/src/messaging/component/activity_mark_done_button/activity_mark_done_button.js
  addons/mail/static/src/messaging/component/activity_mark_done_popover/activity_mark_done_popover.js
  addons/mail/static/src/messaging/component/attachment/attachment.js
  addons/mail/static/src/messaging/component/attachment/attachment_tests.js
  addons/mail/static/src/messaging/component/discuss/discuss_tests.js
  addons/mail/static/src/messaging/component/messaging_menu/messaging_menu_tests.js
  addons/mail/static/src/messaging/component/notification_list/notification_list.js
  addons/mail/static/src/messaging/component/partner_im_status_icon/partner_im_status_icon.js
  addons/mail/static/src/messaging/component/popover_button/popover_button.js
Owners: @odoo/rd-discuss

rebase fixup
  addons/event_sale/models/event_ticket.py
Owners: none

to fixup ready -> init
  addons/mail/static/src/messaging/component/discuss/discuss.js
  addons/mail/static/src/messaging/component/discuss/discuss.xml
  addons/mail/static/src/messaging/component/messaging_menu/messaging_menu.js
  addons/mail/static/src/messaging/component/messaging_menu/messaging_menu.xml
  addons/mail/static/src/messaging/store/messaging_actions.js
  addons/mail/static/src/messaging/store/messaging_state.js
  addons/mail/static/tests/owl/store/messaging_state_tests.js
Owners: @odoo/rd-discuss

[FIX] survey: skip section with no active questions (in conditional questions)
  addons/survey/models/survey_survey.py
Owners: none

[IMP] base: erp_manager group implies user group
  odoo/addons/base/security/base_groups.xml
  odoo/addons/test_action_bindings/tests/test_bindings.py
Owners: none

test_quality broll
  odoo/addons/test_quality/models/__init__.py
  odoo/addons/test_quality/models/ir_actions_act_window.py
  odoo/addons/test_quality/models/ir_ui_menu.py
  odoo/addons/test_quality/models/ir_ui_view.py
  odoo/addons/test_quality/tests/test_cleanup.py
Owners: none

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security
