Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security

[TEST] allow groups_id on ir.ui.view
  odoo/addons/base/models/ir_ui_view.py
Owners: none

add group where needed
  addons/web_editor/views/editor.xml
  addons/web_editor/views/snippets.xml
  addons/website/views/assets.xml
Owners: none

remove PUBLIC_ASSETS global
  addons/web_editor/models/ir_ui_view.py
  addons/website/models/ir_ui_view.py
  odoo/addons/base/models/ir_ui_view.py
Owners: none

switch to private _render
  addons/mail/models/mail_alias.py
  addons/web/models/models.py
Owners: @odoo/rd-discuss

multilang account.group
  addons/l10n_multilang/models/account.py
  addons/l10n_multilang/models/l10n_multilang.py
Owners: none

before type
  addons/l10n_be/data/account.account.template.csv
Owners: none

with type
  addons/l10n_be/data/account.account.template.csv
Owners: none

wip
  addons/l10n_be/data/account.account.template.csv
  addons/l10n_be/data/account_chart_template_data.xml
  addons/l10n_be/data/account_pcmn_belgium_data.xml
  addons/l10n_be/data/account_reconcile_model_template.xml
  addons/l10n_be/data/account_tax_template_data.xml
  addons/l10n_be/data/fiscal_templates_data.xml
  addons/l10n_be/i18n_extra/de.po
  addons/l10n_be/i18n_extra/fr.po
  addons/l10n_be/i18n_extra/l10n_be.pot
Owners: none

translate
  addons/l10n_be/i18n_extra/de.po
  addons/l10n_be/i18n_extra/fr.po
  addons/l10n_be/i18n_extra/l10n_be.pot
  addons/l10n_be/i18n_extra/nl.po
Owners: none

account.group to nl
  addons/l10n_be/demo/l10n_be_demo.xml
  addons/l10n_be/i18n_extra/l10n_be.pot
  addons/l10n_be/i18n_extra/nl.po
Owners: none

unwip
  addons/l10n_be/data/account.account.template.csv
  addons/l10n_be/data/account_pcmn_belgium_data.xml
  addons/l10n_be/data/account_reconcile_model_template.xml
  addons/l10n_be/data/fiscal_templates_data.xml
  addons/l10n_be/i18n_extra/de.po
  addons/l10n_be/i18n_extra/fr.po
  addons/l10n_be/i18n_extra/l10n_be.pot
  addons/l10n_be/i18n_extra/nl.po
Owners: none

fix po
  addons/l10n_be/data/account.group.template.csv
  addons/l10n_be/i18n_extra/fr.po
  addons/l10n_be/i18n_extra/l10n_be.pot
  addons/l10n_be/i18n_extra/nl.po
Owners: none

[IMP] hr_attendance : add extra_hours concepts
  addons/hr_attendance/__init__.py
  addons/hr_attendance/__manifest__.py
  addons/hr_attendance/models/hr_attendance.py
  addons/hr_attendance/models/hr_employee.py
  addons/hr_attendance/models/res_users.py
  addons/hr_attendance/report/__init__.py
  addons/hr_attendance/report/hr_attendance_report.py
  addons/hr_attendance/report/hr_attendance_report_views.xml
  addons/hr_attendance/security/ir.model.access.csv
  addons/hr_attendance/static/src/js/employee_kanban_view_handler.js
  addons/hr_attendance/static/src/js/greeting_message.js
  addons/hr_attendance/static/src/xml/attendance.xml
  addons/hr_attendance/static/tests/hr_attendance_tests.js
  addons/hr_attendance/views/hr_attendance_view.xml
  addons/hr_attendance/views/hr_department_view.xml
  addons/hr_attendance/views/hr_employee_view.xml
Owners: none

[FIX] hr_attendance : remove auto kiosk mode for every user
  addons/hr_attendance/views/hr_attendance_view.xml
Owners: none

[IMP] hr_holidays_attendance : add extra_hours deduction
  addons/hr_holidays_attendance/__init__.py
  addons/hr_holidays_attendance/__manifest__.py
  addons/hr_holidays_attendance/data/hr_holidays_data.xml
  addons/hr_holidays_attendance/models/__init__.py
  addons/hr_holidays_attendance/models/hr_employee.py
  addons/hr_holidays_attendance/models/hr_leave_type.py
  addons/hr_holidays_attendance/security/hr_holidays_attendance_security.xml
  addons/hr_holidays_attendance/security/ir.model.access.csv
  addons/hr_holidays_attendance/views/hr_employee_views.xml
  addons/hr_holidays_attendance/views/hr_leave_type_views.xml
  addons/hr_holidays_attendance/wizard/__init__.py
  addons/hr_holidays_attendance/wizard/deduct_extra_hours_wizard.py
  addons/hr_holidays_attendance/wizard/deduct_extra_hours_wizard_views.xml
Owners: none

[FIX] web: calendar event not order in the right way
  addons/web/static/src/js/views/calendar/calendar_model.js
  addons/web/static/src/js/views/calendar/calendar_renderer.js
  addons/web/static/tests/views/calendar_tests.js
Owners: none

[IMP] web: calendar add a second test for drop in month view
  addons/web/static/tests/views/calendar_tests.js
Owners: none

[FIX] web: end date is not correct on drop (moth view)
  addons/web/static/src/js/views/calendar/calendar_model.js
  addons/web/static/src/js/views/calendar/calendar_renderer.js
Owners: none

[REF] web: extract specific code used for mobile variant
  addons/web/static/src/js/views/calendar/calendar_controller.js
  addons/web/static/src/js/views/calendar/calendar_renderer.js
  addons/web/static/src/xml/web_calendar.xml
Owners: none

[FIX] web: avoid to set allDay when the duration of a event is 24H * n
  addons/web/static/src/js/views/calendar/calendar_model.js
Owners: none

[MOV] web: move specific code for "Mobile" to web_mobile
  addons/web/static/src/js/views/calendar/calendar_controller.js
  addons/web/static/src/js/views/calendar/calendar_renderer.js
  addons/web/static/src/xml/web_calendar.xml
Owners: none

[FIX] web: one assert is not reach anymore
  addons/web/static/tests/views/calendar_tests.js
Owners: none

[FIX] web: don't show all_day slot when no all_day mapping
  addons/web/static/src/js/views/calendar/calendar_model.js
  addons/web/static/tests/views/calendar_tests.js
Owners: none

[IMP] project: ease stage deletion
  addons/project/__manifest__.py
  addons/project/models/project.py
  addons/project/security/ir.model.access.csv
  addons/project/static/src/js/project_kanban.js
  addons/project/views/project_assets.xml
  addons/project/views/project_views.xml
  addons/project/wizard/__init__.py
  addons/project/wizard/project_task_type_delete.py
  addons/project/wizard/project_task_type_delete_views.xml
Owners: none

[IMP] Improvement and add test
  addons/web/static/src/js/views/basic/basic_view.js
  addons/web/static/tests/fields/relational_fields_tests.js
Owners: none

[IMP] mass_mailing: add email marketing tour
  addons/mass_mailing/__manifest__.py
  addons/mass_mailing/static/src/js/tours/mass_mailing_tour.js
  addons/mass_mailing/views/assets.xml
Owners: none

m
  addons/account_facturx/models/ir_actions_report.py
  odoo/tools/pdf.py
Owners: @odoo/rd-images, @odoo/rd-security

m
  addons/account_facturx/models/account_move.py
  addons/account_facturx/models/ir_actions_report.py
  addons/account_invoice_import/__init__.py
  addons/account_invoice_import/__manifest__.py
  addons/account_invoice_import/models/__init__.py
  addons/account_invoice_import/models/account_move.py
  addons/account_invoice_import/models/ir_actions_report.py
  addons/account_invoice_import_ubl/__init__.py
  addons/account_invoice_import_ubl/__manifest__.py
  addons/account_invoice_import_ubl/data/ubl_templates.xml
  addons/account_invoice_import_ubl/models/__init__.py
  addons/account_invoice_import_ubl/models/account_move.py
Owners: none

[IMP] hr_timesheet: Add some optional fields to timesheet list
  addons/hr_timesheet/models/hr_timesheet.py
  addons/hr_timesheet/views/hr_timesheet_views.xml
Owners: none

[IMP] hr_timesheet: Always display timer button in list view
  addons/hr_timesheet/models/hr_timesheet.py
Owners: none

workon add status balcklist opt-out
  addons/mass_mailing/data/mass_mailing_demo.xml
  addons/mass_mailing/models/mailing_list.py
  addons/mass_mailing/views/mailing_list_views.xml
Owners: none

[ADD] l10n_dz: add Algerian localization
  addons/l10n_dz/__init__.py
  addons/l10n_dz/__manifest__.py
  addons/l10n_dz/data/account.account.template.csv
  addons/l10n_dz/data/account_chart_template_configuration_data.xml
  addons/l10n_dz/data/account_chart_template_data.xml
  addons/l10n_dz/data/account_chart_template_post_data.xml
  addons/l10n_dz/data/account_fiscal_position_template_data.xml
  addons/l10n_dz/data/account_tax_data.xml
  addons/l10n_dz/static/description/icon.png
Owners: none

[FIX] l10n_latam_invoice_document: fix the field label
  addons/l10n_latam_invoice_document/models/account_move.py
Owners: none

[ADD] account, l10n_*: l10n_* test case
  addons/account/tests/test_account_all_l10n.py
  addons/l10n_ar/tests/__init__.py
  addons/l10n_ar/tests/test_account_all_l10_ar.py
  addons/l10n_it_edi/tests/__init__.py
  addons/l10n_it_edi/tests/test_account_all_l10_it.py
Owners: none

[FIX] l10n_it_edi: fix test case
  addons/l10n_it_edi/tests/test_generate.py
Owners: none

[FIX] l10n_ch: fix test case
  addons/l10n_ch/tests/test_l10n_ch_isr.py
Owners: none

[FIX] odoo: SingleTransactionCase test case fix
  odoo/tests/common.py
Owners: none

[FIX] l10n_be_edi: fix test case
  addons/l10n_be_edi/tests/test_ubl.py
Owners: none

[IMP] l10n_vn: Update COA and COA name convert to english
  addons/l10n_vn/__init__.py
  addons/l10n_vn/__manifest__.py
  addons/l10n_vn/data/account.account.template.csv
  addons/l10n_vn/data/l10n_vn_chart_data.xml
  addons/l10n_vn/i18n_extra/l10n_vn.pot
  addons/l10n_vn/i18n_extra/vi_VN.po
Owners: none

[FIX] l10n_vn: remove _preserve_tag_on_taxes because of no more use in the current version
  addons/l10n_vn/__init__.py
Owners: none
