Repository genral73/odoo, changes with the owners that .github/CODEOWNERS names for each.
All owners: @odoo/rd-code-owners, @odoo/rd-images, @odoo/rd-discuss, @odoo/rd-security, @odoo/upgrade

.github/CODEOWNERS:

# Doc: https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners
# Order is important; the last matching pattern takes the most precedence.

# Please apply the following guidelines when updating this file.

# Paths and patterns
# ==================

# Path should be ordered alphabetically (when precedence is not an issue).
# Avoid complex patterns, prefer full path or with wildcard only at the end.

# When creating a more specific pattern of an existing more generic pattern:
# - The specific pattern must be listed below.
# - Teams and users of the generic pattern have to be copied to the specific
#   pattern, unless they approve to lose their ownership for the paths matched
#   by the specific pattern.

# Teams and users
# ===============

# Prefer using teams whenever possible, as members of teams can be dynamically
# managed outside of this file without requiring a new commit.
# Only define users for specific cases.
# For each pattern: list teams first, then users, both alphabetically.

# Keep in mind the following requirements for the feature to work:
# - Listed teams and users must have write permissions on the repo.
# - For teams "code review assignment" has to be properly configured in the
#   respective team settings.


/.github/CODEOWNERS @odoo/rd-code-owners

/addons/account/tests/test_portal_attachment.py @odoo/rd-images
/addons/im_livechat/** @odoo/rd-discuss
/addons/im_support/** @odoo/rd-discuss
/addons/mail/** @odoo/rd-discuss
/addons/mail_bot/** @odoo/rd-discuss
/addons/portal/** @odoo/rd-images
/addons/sms/** @odoo/rd-discuss
/addons/snailmail/** @odoo/rd-discuss
/addons/test_mail/** @odoo/rd-discuss
/addons/test_mail_full/** @odoo/rd-discuss
/addons/test_mass_mailing/** @odoo/rd-discuss
/addons/web/controllers/main.py @odoo/rd-images @odoo/rd-security
/addons/web/models/ir_qweb.py @odoo/rd-images
/addons/web/tests/test_image.py @odoo/rd-images
/addons/website_sale/tests/test_website_sale_image.py @odoo/rd-images

/odoo/addons/base/tests/test_image.py @odoo/rd-images
/odoo/addons/base/models/ir_attachment.py @odoo/rd-images

/odoo/modules/migration.py @odoo/upgrade

# expression, query
/odoo/osv/** @odoo/rd-security

# safe_eval, mimetypes, float_utils, mail sanitizer, image utils, ..
/odoo/tools/** @odoo/rd-images @odoo/rd-security

/odoo/http.py @odoo/rd-security
/odoo/sql_db.py @odoo/rd-security

[IMP] point_of_sale: responsive product screen
  addons/point_of_sale/__manifest__.py
  addons/point_of_sale/static/src/css/pos.css
  addons/point_of_sale/static/src/js/MobileOrderWidget.js
  addons/point_of_sale/static/src/js/Screens/PaymentScreen/PaymentScreen.js
  addons/point_of_sale/static/src/js/Screens/ProductScreen/ProductScreen.js
  addons/point_of_sale/static/src/js/main.js
  addons/point_of_sale/static/src/xml/Chrome.xml
  addons/point_of_sale/static/src/xml/MobileOrderWidget.xml
  addons/point_of_sale/static/src/xml/Screens/ClientListScreen/ClientLine.xml
  addons/point_of_sale/static/src/xml/Screens/ClientListScreen/ClientListScreen.xml
  addons/point_of_sale/static/src/xml/Screens/PaymentScreen/PaymentScreen.xml
  addons/point_of_sale/static/src/xml/Screens/PaymentScreen/PaymentScreenPaymentLines.xml
  addons/point_of_sale/static/src/xml/Screens/ProductScreen/OrderWidget.xml
  addons/point_of_sale/static/src/xml/Screens/ProductScreen/ProductScreen.xml
  addons/point_of_sale/static/src/xml/Screens/ProductScreen/ProductsList.xml
  addons/point_of_sale/static/src/xml/Screens/ProductScreen/ProductsWidget.xml
  addons/point_of_sale/static/src/xml/Screens/ProductScreen/ProductsWidgetControlPanel.xml
  addons/point_of_sale/static/src/xml/Screens/ReceiptScreen/ReceiptScreen.xml
  addons/point_of_sale/views/point_of_sale.xml
  addons/point_of_sale/views/pos_templates.xml
  addons/pos_hr/static/src/css/pos.css
Owners: none

[FIX] mass_mailing: two small fixes of unexpected behaviors
  addons/mass_mailing/models/mailing.py
  addons/mass_mailing/views/link_tracker_views.xml
Owners: none

wip
  addons/web/static/src/js/views/pivot/pivot_controller.js
Owners: none

[IMP] web: expose pivot variables
  addons/web/static/src/js/views/pivot/pivot_model.js
Owners: none

wip
  addons/web/static/src/img/mimetypes/o-spreadsheet.svg
  addons/web/static/src/scss/mimetypes.scss
Owners: none

[FIX] account: invoice analysis multicurrency + various imp
  addons/account/report/account_invoice_report.py
  addons/account/report/account_invoice_report_view.xml
  addons/account/tests/test_account_invoice_report.py
  addons/l10n_ar/report/invoice_report.py
  addons/l10n_latam_invoice_document/report/invoice_report.py
  addons/sale/report/invoice_report.py
Owners: none

mention komit
  addons/l10n_vn_viettel/models/account_move.py
  addons/l10n_vn_viettel/models/res_company.py
Owners: none

[IMP] sale_timesheet: convert onchanges to stored-editable computed fields.
  addons/sale_timesheet/tests/test_project_billing.py
Owners: none

[IMP] project_timesheet_holidays : convert onchange to stored-editable computed fields.
  addons/project_timesheet_holidays/models/hr_holidays.py
Owners: none

[IMP] hr_timesheet: convert onchange to stored-editable computed fields
  addons/hr_timesheet/models/hr_timesheet.py
  addons/hr_timesheet/models/project.py
  addons/hr_timesheet/tests/test_timesheet.py
  addons/hr_timesheet/views/project_views.xml
Owners: none

[IMP] several modules: add copy=True attribute for computed fields converted from old onchanges methods.
  addons/hr_timesheet/models/hr_timesheet.py
  addons/hr_timesheet/models/project.py
  addons/project/models/project.py
  addons/project_timesheet_holidays/models/hr_holidays.py
Owners: none

[IMP] project: convert onchange to stored-editable computed fields.
  addons/project/models/project.py
  addons/project/tests/test_project_base.py
  addons/project/tests/test_project_flow.py
  addons/project/views/project_views.xml
  addons/sale_timesheet/models/project.py
Owners: none

[IMP] mass_mailind: change kanban view for improving design (in progress)
  addons/mass_mailing/views/mailing_list_views.xml
Owners: none

In progress add demo data and phone mixin
  addons/mass_mailing/data/mass_mailing_demo.xml
  addons/mass_mailing/models/mailing_contact.py
  addons/mass_mailing/models/mailing_list.py
Owners: none

safe use of certifi
  addons/l10n_vn_viettel/models/account_move.py
Owners: none

[TMP] enable palettes dropdown
  addons/website/static/src/js/editor/snippets.options.js
Owners: none

[REF] demo presets: move btn-outlines
  addons/website/data/website_demo.xml
Owners: none

update code
  addons/portal/controllers/mail.py
  addons/portal/static/src/js/portal_chatter.js
  addons/portal/static/src/js/portal_composer.js
  addons/portal/static/src/xml/portal_chatter.xml
  addons/portal_rating/static/src/js/portal_chatter.js
  addons/portal_rating/static/src/js/portal_composer.js
  addons/portal_rating/static/src/js/portal_rating_composer.js
  addons/portal_rating/static/src/xml/portal_chatter.xml
  addons/website_slides/controllers/mail.py
  addons/website_slides/static/src/js/portal_chatter.js
Owners: @odoo/rd-images

[IMP]hr_timesheet: Put name field after project and task field
  q
Owners: none

[IMP] doc: update documentation about action_ref
  doc/reference/views.rst
Owners: none

[ADD] doc: add documentation about grid view, move it from enterprise web_grid/README.rst to doc/reference/views.rst
  doc/reference/views.rst
Owners: none

[FIX] web: do not render grouped view if view is not groupable
  addons/web/static/src/js/views/control_panel/control_panel_model.js
  addons/web/static/src/js/views/kanban/kanban_view.js
  addons/web/static/tests/views/control_panel_tests.js
  addons/web/static/tests/views/kanban_tests.js
  addons/web/static/tests/views/list_tests.js
Owners: none

[TMP] web_editor: presets, handle btn-outline-primary
  addons/web_editor/static/src/scss/web_editor.common.scss
Owners: none

[TMP] web_editor: review presets generation
  addons/web_editor/static/src/scss/web_editor.variables.scss
Owners: none

[IMP] website, *: warn user about outdated blocks
  addons/web_editor/models/ir_qweb.py
  addons/web_editor/static/src/js/editor/snippets.editor.js
  addons/web_editor/static/src/js/editor/snippets.options.js
  addons/web_editor/static/src/scss/wysiwyg.scss
  addons/web_editor/static/src/scss/wysiwyg_snippets.scss
  addons/web_editor/static/src/xml/snippets.xml
  addons/web_editor/views/snippets.xml
  addons/website/static/tests/tours/snippet_version.js
  addons/website/tests/test_ui.py
  addons/website/views/assets.xml
  addons/website/views/snippets/s_carousel.xml
Owners: none

convert button style and auto_popup, small fixes
  addons/im_livechat/static/src/js/im_livechat.js
  addons/im_livechat/static/src/owl/components/livechat_button/livechat_button.js
  addons/im_livechat/static/src/owl/components/livechat_button/livechat_button.xml
  addons/im_livechat/static/src/owl/components/livechat_manager/livechat_manager.js
  addons/im_livechat/static/src/owl/components/livechat_manager/livechat_manager.xml
  addons/im_livechat/static/src/owl/livechat_main.js
  addons/mail/static/src/owl/store/messaging_actions.js
Owners: @odoo/rd-discuss

[IMP] hr(_fleet): Display license plate on the employee
  addons/hr/data/hr_demo.xml
  addons/hr/models/hr_employee.py
  addons/hr/views/hr_employee_views.xml
  addons/hr_fleet/models/fleet_vehicle.py
Owners: none

remove mute
  odoo/addons/test_translation_import/tests/test_term_count.py
Owners: none

[WIP] timesheet : make the encoding unit company independent
  addons/hr_timesheet/data/hr_timesheet_data.xml
  addons/hr_timesheet/models/__init__.py
  addons/hr_timesheet/models/hr_timesheet.py
  addons/hr_timesheet/models/ir_http.py
  addons/hr_timesheet/models/res_config_settings.py
  addons/hr_timesheet/models/uom.py
  addons/hr_timesheet/tests/test_timesheet.py
  addons/hr_timesheet/views/hr_timesheet_views.xml
  addons/hr_timesheet/views/res_config_settings_views.xml
  addons/sale_timesheet/models/sale_order.py
Owners: none

[IMP] website: remove the old color palette *re*generation
  addons/website/static/src/js/editor/snippets.options.js
Owners: none

[FIX] website: menu translation on website
  addons/website/models/__init__.py
  addons/website/models/ir_module_module.py
Owners: none

[FIX] *: invalid parameter 'tracking' on non-mail-thread models
  addons/account/models/account_move.py
  addons/gamification/models/goal.py
  addons/payment/models/payment_acquirer.py
  addons/resource/models/resource.py
Owners: none

[FIX] fields: add support for parameter `invisible` (actually used)
  odoo/fields.py
Owners: none

[FIX] *: useless old API field parameters
  addons/account/models/partner.py
  addons/fleet/models/fleet_vehicle.py
  addons/hr_recruitment/models/hr_recruitment.py
  addons/product/models/product_attribute.py
  addons/website/models/res_config_settings.py
  addons/website/models/website.py
Owners: none

[FIX] *: useless parameter 'placeholder' on fields
  addons/mail/models/mail_template.py
  addons/mail/views/mail_template_views.xml
Owners: @odoo/rd-discuss

[FIX] *: useless parameter 'ondelete' on One2many fields
  addons/account/models/account_payment.py
  addons/calendar/models/calendar.py
  addons/hr_skills/models/hr_skills.py
  addons/lunch/models/lunch_product.py
  addons/purchase_stock/models/purchase.py
Owners: none

[FIX] hr_timesheet: precision_digits should be digits, probably?
  addons/hr_timesheet/wizard/project_task_create_timesheet.py
Owners: none

[IMP] fields: add validation of parameter names
  addons/base_sparse_field/models/models.py
  addons/mail/models/ir_model.py
  addons/mail/models/mail_thread.py
  addons/payment/models/payment_acquirer.py
  odoo/addons/base/models/ir_model.py
  odoo/addons/base/models/res_config.py
  odoo/fields.py
  odoo/models.py
Owners: @odoo/rd-discuss

[REM] stock_landed_costs: digits on monetary field
  addons/stock_landed_costs/models/stock_landed_cost.py
Owners: none

[IMP] http: add a routing type
  addons/test_website/controllers/main.py
  addons/test_website/tests/test_controller_args.py
  odoo/http.py
Owners: @odoo/rd-security
